<nav class="navbar navbar-expand-lg fg-white bg-black justify-content-between">
    <a class="navbar-brand">Benchmarks Logo</a>

    <div>
        <ul class="navbar-nav">
        <li class="nav-item">WHO Benchmarks</li>
        <li class="nav-item">Reference Library</li>
        <li class="nav-item"><button class="btn login-button bg-green fg-white rounded-pill">Login</button></li>
        </ul>
    </div>
</nav>
</div>

<div>
    A Good heading

    World Health Organization (WHO) and its partners have developed a tool with a list of benchmarks and corresponding actions that can be applied to increase the performance of countries in emergency preparedness through the development and implementation of a National Action Plan for Health Security (NAPHS).

    Use this tool to get help with creating a draft plan, explore best practices in the reference library, or browse the benchmarks
</div>
