- heading_disabled_class = @get_started_form.country.present? ? "": "disabled"
.row{id: "get_started",
"data-controller": "get-started",
"data-get-started-named-ids": AssessmentPublication::NAMED_IDS.to_json}
  .col
    %h1 Let's Get Started
    = form_with model: @get_started_form, url: start_index_path, html: {novalidate: true} do |form|
      .form-row
        .col-6
          %h4 1. Select your country
          = form.select :country_id, options_from_collection_for_select(@countries, :id, :name, @get_started_form.country_id), {include_blank: true, prompt: "Type or select an option"}, {class: "custom-select", "data-target": "get-started.countrySelect", required: true}
          .invalid-feedback.my-3 Please choose a country.
      .form-row
        .col-2
          = form.submit "Next", class: "btn btn-primary", "data-target": "get-started.submit"
