<div
    class="modal"
    tabindex="-1"
    role="dialog"
    id="assessment-selection-modal"
  >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title display-header mx-4">
          Let's get started on
          <span
            id="country-name-header"
            data-target="assessment-selection.countryNameLabel"></span>
        </h1>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body mx-4">
        <p>
          This tool will help you create Draft 0.1 of your NAPHS plan by utilizing your country assessment data (JEE or SPAR) and suggested actions from the Benchmarks.
        </p>

        <p>
          When you finish, you’ll have a draft plan that can act as a jumping off point for further refinement.
        </p>

        <p>
          The plans are comprised of actions based on the gap between the existing assessment score and your goal score.
        </p>

        <p><strong>Create a plan by a recent assessment or by technical areas:</strong></p>

        <%= form_tag '/country_select', id: "assessment-select-menu",
          data: { target: "assessment-selection.form" } do %>
          <%= hidden_field_tag(
                  "country",
                  nil,
                  {
                      id:   "country_for_assessment_selection_modal",
                      data: {target: "assessment-selection.countryName"}
                  },
              )
          %>
          <div class="input-group mb-4">
            <%= select_tag "assessment_type",
              options_from_collection_for_select([], 'assessment_type', 'assessment_type'),
              class: "custom-select",
              id: "assessment_type_for_modal",
              data: { target: "assessment-selection.assessmentTypeSelect",
                      action: "assessment-selection#validateAndEnableNext" }
            %>
          </div>
          <%= button_tag "Next",
              type: :button,
              class: "btn btn-primary w-100",
              disabled: true,
              data: { target: "assessment-selection.submitForm",
                      action: "assessment-selection#next",
                      current: "assessment-selection-modal",
                      next: "technical-area-selection-modal" } %>
      <% end %>
      </div>
    </div>
  </div>
</div>
