<div
    class="modal"
    tabindex="-1"
    role="dialog"
    id="capacity-selection-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title display-header mx-4">
          Plan by Capacity Area
        </h1>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body mx-4">
        <%= form_tag '/country_select', id: "assessment-select-menu",
            data: { action: "assessment-selection.form" } do %>
          <%= hidden_field_tag "country",
            nil,
            data: { target: "assessment-selection.selectedCountryModal" }
          %>
          <div class="input-group mb-2">
            <%= select_tag "assessment_type",
              options_from_collection_for_select([], 'assessment_type', 'assessment_type'),
              class: "custom-select",
              data: { target: "assessment-selection.assessmentTypes",
                      action: "assessment-selection#validateAndEnableNext" }
            %>
          </div>
          <%= button_tag "Next",
              type: :button,
              class: "btn btn-primary w-100",
              disabled: true,
              data: { target: "assessment-selection.submitForm",
                      action: "assessment-selection#next" } %>
      <% end %>
      </div>
    </div>
  </div>

</div>
