.card
  .card-header
    .tab
      Sections
  .card-body
    %ul.nav.flex-column
      %li
        %a{href: introduction_path}
          Introduction
      %li
        Technical Areas
      %ol
        %li
          %a{href: technical_area_1_path}
            National legislation, policy, and financing
          - if request.path.eql?(technical_area_1_path)
            %ul{"data-turbolinks": "false"}
              %li
                %a{href: "#1.1"}
                  Benchmark 1.1
              %li
                %a{href: "#1.2"}
                  Benchmark 1.2
              %li
                %a{href: "#1.3"}
                  Benchmark 1.3
        %li
          %a{href: technical_area_2_path}
            IHR coordination, communication, and advocacy and reporting
          - if request.path.eql?(technical_area_2_path)
            %ul{"data-turbolinks": "false"}
              %li
                %a{href: "#2.1"}
                  Benchmark 2.1
              %li
                %a{href: "#2.2"}
                  Benchmark 2.2
        %li
          %a{href: technical_area_3_path}
            Antimicrobial resistance
          - if request.path.eql?(technical_area_3_path)
            %ul{"data-turbolinks": "false"}
              %li
                %a{href: "#3.1"}
                  Benchmark 3.1
              %li
                %a{href: "#3.2"}
                  Benchmark 3.2
              %li
                %a{href: "#3.3"}
                  Benchmark 3.3
              %li
                %a{href: "#3.4"}
                  Benchmark 3.4
        %li
          %a{href: technical_area_4_path}
            Zoonotic disease
          - if request.path.eql?(technical_area_4_path)
            %ul{"data-turbolinks": "false"}
              %li
                %a{href: "#4.1"}
                  Benchmark 4.1
              %li
                %a{href: "#4.2"}
                  Benchmark 4.2
        %li
          %a{href: technical_area_5_path}
            Food safety
          - if request.path.eql?(technical_area_5_path)
            %ul{"data-turbolinks": "false"}
              %li
                %a{href: "#5.1"}
                  Benchmark 5.1
              %li
                %a{href: "#5.2"}
                  Benchmark 5.2
        %li
          %a{href: technical_area_6_path}
            Immunization
          - if request.path.eql?(technical_area_6_path)
            %ul{"data-turbolinks": "false"}
              %li
                %a{href: "#6.1"}
                  Benchmark 6.1
              %li
                %a{href: "#6.2"}
                  Benchmark 6.2
        %li
          %a{href: technical_area_7_path}
            National Laboratory System
          - if request.path.eql?(technical_area_7_path)
            %ul{"data-turbolinks": "false"}
              %li
                %a{href: "#7.1"}
                  Benchmark 7.1
              %li
                %a{href: "#7.2"}
                  Benchmark 7.2
              %li
                %a{href: "#7.3"}
                  Benchmark 7.3
              %li
                %a{href: "#7.4"}
                  Benchmark 7.4
        %li
          %a{href: technical_area_8_path}
            Biosafety and biosecurity
          - if request.path.eql?(technical_area_8_path)
            %ul{"data-turbolinks": "false"}
              %li
                %a{href: "#8.1"}
                  Benchmark 8.1
              %li
                %a{href: "#8.2"}
                  Benchmark 8.2
        %li
          %a{href: technical_area_9_path}
            Surveillance
          - if request.path.eql?(technical_area_9_path)
            %ul{"data-turbolinks": "false"}
              %li
                %a{href: "#9.1"}
                  Benchmark 9.1
              %li
                %a{href: "#9.2"}
                  Benchmark 9.2
              %li
                %a{href: "#9.3"}
                  Benchmark 9.3
        %li
          %a{href: technical_area_10_path}
            Human resources
          - if request.path.eql?(technical_area_10_path)
            %ul{"data-turbolinks": "false"}
              %li
                %a{href: "#10.1"}
                  Benchmark 10.1
              %li
                %a{href: "#10.2"}
                  Benchmark 10.2
              %li
                %a{href: "#10.3"}
                  Benchmark 10.3
              %li
                %a{href: "#10.4"}
                  Benchmark 10.4
        %li
          %a{href: technical_area_11_path}
            Emergency Preparedness
          - if request.path.eql?(technical_area_11_path)
            %ul{"data-turbolinks": "false"}
              %li
                %a{href: "#11.1"}
                  Benchmark 11.1
              %li
                %a{href: "#11.2"}
                  Benchmark 11.2
        %li
          %a{href: technical_area_12_path}
            Emergency response operations
          - if request.path.eql?(technical_area_12_path)
            %ul{"data-turbolinks": "false"}
              %li
                %a{href: "#12.1"}
                  Benchmark 12.1
              %li
                %a{href: "#12.2"}
                  Benchmark 12.2
              %li
                %a{href: "#12.3"}
                  Benchmark 12.3
        %li
          %a{href: technical_area_13_path}
            Linking public health and security authorities
          - if request.path.eql?(technical_area_13_path)
            %ul{"data-turbolinks": "false"}
              %li
                %a{href: "#13.1"}
                  Benchmark 13.1
        %li
          %a{href: technical_area_14_path}
            Medical countermeasures and personnel deployment
          - if request.path.eql?(technical_area_14_path)
            %ul{"data-turbolinks": "false"}
              %li
                %a{href: "#14.1"}
                  Benchmark 14.1
              %li
                %a{href: "#14.2"}
                  Benchmark 14.2
              %li
                %a{href: "#14.3"}
                  Benchmark 14.3
        %li
          %a{href: technical_area_15_path}
            Risk Communication
          - if request.path.eql?(technical_area_15_path)
            %ul{"data-turbolinks": "false"}
              %li
                %a{href: "#15.1"}
                  Benchmark 15.1
              %li
                %a{href: "#15.2"}
                  Benchmark 15.2
              %li
                %a{href: "#15.3"}
                  Benchmark 15.3
        %li
          %a{href: technical_area_16_path}
            Points of entry
          - if request.path.eql?(technical_area_16_path)
            %ul{"data-turbolinks": "false"}
              %li
                %a{href: "#16.1"}
                  Benchmark 16.1
              %li
                %a{href: "#16.2"}
                  Benchmark 16.2
        %li
          %a{href: technical_area_17_path}
            Chemical events
          - if request.path.eql?(technical_area_17_path)
            %ul{"data-turbolinks": "false"}
              %li
                %a{href: "#17.1"}
                  Benchmark 17.1
        %li
          %a{href: technical_area_18_path}
            Radiation emergencies
          - if request.path.eql?(technical_area_18_path)
            %ul{"data-turbolinks": "false"}
              %li
                %a{href: "#18.1"}
                  Benchmark 18.1
      %li
        %a{href: acronyms_path}
          Acronyms
      %li
        %a{href: glossary_path}
          Glossary
      %li
        %a{href: acknowledgement_path}
          Acknowledgement
.card
  .card-header
    .tab
      Download
  .card-body
    .row.flex-nowrap
      .col-1
        = inline_svg_tag "ico-download.svg"
      .col-11
        %a{href: "http://www.who.int/iris/bitstream/10665/311158/1/9789241515429-eng.pdf?ua=1", target: "_blank"}
          WHO Benchmarks for International Health Regulations (IHR) Capacities
        .small.text-muted
          PDF 2 MB
