.card
  .card-header
    .tab
      Sections
  .card-body
    %ul.nav.flex-column
      %li
        %a{href: introduction_path}
          Introduction
      %li
        Technical Areas
      %ol
        %li
          %a{href: technical_area_1_path}
            National legislation, policy, and financing
          - if request.path.eql?(technical_area_1_path)
            %ul
              %li
                %a{href: "#{technical_area_1_path}#1.1"}
                  Benchmark 1.1
              %li
                %a{href: "#{technical_area_1_path}#1.2"}
                  Benchmark 1.2
              %li
                %a{href: "#{technical_area_1_path}#1.3"}
                  Benchmark 1.3
        %li
          %a{href: technical_area_2_path}
            IHR coordination, communication, and advocacy and reporting
        %li
          %a{href: "#"}
            Antimicrobial resistance
        %li
          %a{href: "#"}
            Zoonotic disease
        %li
          %a{href: "#"}
            Food safety
        %li
          %a{href: "#"}
            Immunization
        %li
          %a{href: "#"}
            National laboratory system
        %li
          %a{href: "#"}
            Biosafety and biosecurity
        %li
          %a{href: "#"}
            Surveillance
        %li
          %a{href: "#"}
            Human resources
        %li
          %a{href: "#"}
            Emergency preparedness
        %li
          %a{href: "#"}
            Emergency response operations
        %li
          %a{href: "#"}
            Linking public health and security authorities
        %li
          %a{href: "#"}
            Medical countermeasures and personal deployment
        %li
          %a{href: "#"}
            Risk communication
        %li
          %a{href: "#"}
            Points of entry
        %li
          %a{href: "#"}
            Chemical events
        %li
          %a{href: "#"}
            Radiation emergencies
      %li
        %a{href: acronyms_path}
          Acronyms
      %li
        %a{href: acknowledgement_path}
          Acknowledgement

.card
  .card-header
    .tab
      Download
  .card-body
    .row.flex-nowrap
      .col-1
        = render file: Rails.root.join("app", "assets", "images", "ico-download.svg")
      .col-11
        %a{href: "http://www.who.int/iris/bitstream/10665/311158/1/9789241515429-eng.pdf?ua=1", target: "_blank"}
          WHO Benchmarks for International Health Regulations (IHR) Capacities
        .small.text-muted
          PDF 2 MB
