.card.reference-filter-by
  .card-header
    .tab
      Filter by
  .card-body
    %form{method: "get"}
      .form-row.flex-column
        .col
          %strong
            Technical Area
        .col
          = select_tag :technical_area, options_from_collection_for_select(@technical_areas, :text, :text, params[:technical_area]), {prompt: "Type or select an option", class: "custom-select", onchange: 'this.form.submit()', "data-reference-library-target": "technicalAreaSelect"}
      .form-row.flex-column
        .col
          %strong
            Reference Type
        .col
          - @ref_doc_types.each do |document_type|
            %input{
              type: "checkbox",
              value: document_type,
              name: "reference_types[]",
              id: document_type,
              onchange: "this.form.submit()",
              checked: params[:reference_types]&.include?(document_type)
            }/
            %label{for: document_type}
              = document_type
            .w-100
