.card.reference-filter-by
  .card-header
    .tab
      Filter by
  .card-body
    %form{"data-reference-library-target": "filterForm"}
      .form-row.flex-column
        .col
          %strong
            Technical Area
        .col
          = select_tag :technical_area_id, options_from_collection_for_select(@technical_areas, :id, :text), {include_blank: true, prompt: "Type or select an option", class: "custom-select", "data-reference-library-target": "technicalAreaSelect"}
      .form-row.flex-column
        .col
          %strong
            Reference Type
        .col
          - @ref_doc_types.each_with_index do |document_type, idx|
            - document_type_underscored = phrase_to_underscore(document_type)
            - one_based_index = zero_to_one_index(idx)
            %input{
              type: "checkbox",
              value: one_based_index,
              name: document_type_underscored,
              id: document_type_underscored,
              "data-action": "reference-library#handleCheckboxToggle",
              "data-reference-library-target": "checkboxForReferenceType"
            }/
            %label{for: document_type_underscored}
              = document_type
            .w-100
