= render layout: "layouts/benchmark_document" do
  %h1
  	Acknowledgement
  %p
    The World Health Organization (WHO) would like to express sincere gratitude to all those who contributed to the development of the WHO Benchmark for IHR capacities (Benchmark Tool).
  %p
  	The tool was developed by Dr Nirmal Kandel, Dr Qudsia Huda and Dr Stella Chungong with contributions from their colleagues – Mr Adam Bradshaw, Dr Benedetta Allegranzi, Mr David Bennitz, Dr  Elizabeth Mumford, Ms Elizabeth Taylor, Mr Fernando Gonzalez-Martin, Dr Giorgio Cometto, Dr Ian Norton, Mr Jonathan Abrahams, Dr Jose Guerra, Ms Julie Storr, Ms Joanna H Tempowski, Dr Jostacio Lapitan, Dr Jun Xing, Dr Kazunobu Kojima, Dr Kersten Gutschmidt, Dr Lucy Boulanger, Dr Ninglan Wang, Mr Phillippe Gasquet, Dr Sebastian Cognat, Dr Sergez R Eremin, Dr Stéphane De La Rocque and Ms Yuki Minato – at WHO headquarters.
  %p
  	Special thanks go to Dr Ambrose Talisuna, Dr Ali Ahmed Yahaya, Dr Dalia Samhouri, Dr Gyanendra Gongal, Dr Karen Nahapetyan, Dr Massaya Kato, Dr Muang Muang Htike, Mr Nicolas Isla, Dr Nilesh Buddh, Dr Roberta Andraghetti and Mr Vasily Esenamanov, for providing inputs from WHO regional offices.
  %p
  	Sincere gratitude to all the members of a technical working group: Dr Janneth Mghamba, Dr Jaouad Mahjour, Dr Mahmudur Rahman, Dr Nirmal Kandel, Dr Stella Chungong, and Dr Thomas R Frieden.
  %p
  	The WHO is grateful to the following partners and their teams who provided technical inputs in the tool: African Centres for Disease Control and Prevention (Africa CDC), United States Centers for Disease Control and Prevention (US CDC), Public Health England (PHE), Resolve to Save Lives, and The South Asia Field Epidemiology and Technology Network (SAFETYNET).
