= render layout: "layouts/benchmark_document" do

  %h1
  	Acronyms
  %p
  %table{:width=>"50%",:border=>"0"}
    %tr
      %td 
        %strong
          AEFI
      %td adverse event following immunization
     %tr
       %td 
         %strong
           AMR
       %td antimicrobial resistance 
     %tr
       %td 
         %strong
           BTWC
       %td Biological and Toxin Weapons Convention
     %tr
       %td 
         %strong
           EMT
       %td emergency medical team
     %tr
       %td 
         %strong
           EOC
       %td emergency operations centre
     %tr
       %td 
         %strong
           FAO
       %td Food and Agriculture Organization
     %tr
       %td 
         %strong
           GLASS
       %td Global Antimicrobial Resistance Surveillance System
     %tr
       %td 
         %strong
           GOARN
       %td Global Outbreak Alert and Response Network
     %tr
       %td 
         %strong
           IAEA
       %td International Atomic Energy Agency 
     %tr
       %td 
         %strong
           IHR
       %td International Health Regulations
     %tr
       %td 
         %strong
           INFOSAN
       %td International Food Safety Authorities Network
     %tr
       %td 
         %strong
           INTERPOL
       %td International Criminal Police Organization
     %tr
       %td 
         %strong
           IPCAT
       %td infection prevention and control (IPC) assessment tool
     %tr
       %td 
         %strong
           IT
       %td information technology
     %tr
       %td 
         %strong
           JEE
       %td joint external evaluation
     %tr
       %td 
         %strong
           MCV
       %td measles-containing vaccine
     %tr
       %td 
         %strong
           NAPHS
       %td National Action Plan for Health Security
     %tr
       %td 
         %strong
           NCC
       %td National Coordinating Centre
     %tr
       %td 
         %strong
           NFP
       %td IHR national focal point
     %tr
       %td 
         %strong
           OIE
       %td World Organisation for Animal Health
     %tr
       %td 
         %strong
           OPCW
       %td Organisation for the Prohibition of Chemical Weapons
     %tr
       %td 
         %strong
           PVS
       %td performance of veterinary services
     %tr
       %td 
         %strong
           SOP
       %td standard operating procedure
     %tr
       %td 
         %strong
           SPAR
       %td IHR self-assessment annual reporting tool 
     %tr
       %td 
         %strong
           VPDs
       %td vaccine-preventable diseases
     %tr
       %td 
         %strong
           WASH
       %td water, sanitation and hygiene
    %tr
      %td 
        %strong
          WASH FIT
      %td water and sanitation for health facility improvement tool
     %tr
       %td 
         %strong
           WHA
       %td World Health Assembly
     %tr
       %td 
         %strong
           WHO
       %td World Health Organization