= render layout: "layouts/benchmark_document" do
  %h1
    Glossary
  %p
    %em
      %strong
        Note:
      These terms and definitions have been provided for use within the context of this tool and may differ from those used in other documents. The purpose is to clarify key terms that are NAPHS relevant.
  %p
    %strong
      Biosafety.
    Laboratory biosafety describes the containment principles, technologies and practices that are implemented to prevent unintentional exposure to pathogens and toxins, or their accidental release.
  %p
    %strong
      Biosecurity.
    Laboratory biosecurity describes the protection, control and accountability for valuable biological materials within laboratories as well as information related to these materials and dual-use research, to prevent their unauthorized access, loss, theft, misuse, diversion or intentional release.
  %p
    %strong
      Case.
    A person who has the particular disease, health disorder or condition that meets the case definitions for surveillance and outbreak investigation purposes. The definition of a case for surveillance and outbreak investigation purpose is not necessarily the same as the ordinary clinical definition (adapted from Last JM, Spasoff RA, Harris, editors. A dictionary of epidemiology, fourth edition. International Epidemiological Association, Inc. New York: Oxford University Press; 2001).
  %p
    %strong
      Case definition.
    A set of diagnostic criteria that must be fulfilled for an individual to be regarded as a case of a particular disease for surveillance and outbreak investigation purposes. Case definitions can be based on clinical criteria, laboratory criteria or a combination of the two with the elements of time, place and person. (In the IHR, case definitions are published on the
    %a{
      href: "http://www.who.int/ihr/survellance_response/case_definitions/en/",
      target: "_blank"
    }
      WHO website
    for the four diseases for which all cases must be notified by States Parties to WHO, regardless of circumstances, under the IHR as provided in Annex 2.)
  %p
    %strong
      Chemical event.
    A manifestation of a disease or an occurrence, which creates a potential for a disease as a result of exposure to or contamination by a chemical agent.
  %p
    %strong
      Cluster.
    An aggregation of relatively uncommon events or diseases in space and/or time in amounts that are believed or perceived to be greater than that expected by chance (adapted from Last JM, Spasoff RA, Harris, editors. A dictionary of epidemiology, fourth edition. International Epidemiological Association, Inc. New York: Oxford University Press; 2001).
  %p
    %strong
      Communicable disease (infectious disease).
    An illness due to a specific infectious agent or its toxic products that arises through transmission of that agent or its products from an infected person, animal or reservoir to a susceptible host, either directly or indirectly through an intermediate plant or animal host, vector or the inanimate environment (adapted from Last JM, Spasoff RA, Harris, editors. A dictionary of epidemiology, fourth edition. International Epidemiological Association, Inc. New York: Oxford University Press; 2001).
  %p
    %strong
      Competent authority.
    An authority responsible for the implementation and application of health measures under the IHR.
  %p
    %strong
      Contamination.
    The presence of an infectious or toxic agent or matter on the body surface of a human or animal, in or on a product prepared for consumption or on other inanimate objects, including conveyances that may constitute a public health risk.
  %p
    %strong
      Dangerous pathogens and toxins.
    These are biological agents and toxins that have the potential to pose a severe threat to both human and animal health. While some select agents are normally found in the environment and don’t cause human disease, many of them – if manipulated or released in large quantities – can cause serious health threats. The informal Australia Group provides a
    %em
      List of human and animal pathogens and toxins for export control
    (
    %a{
      href: "http://www.australiagroup.net/en/human_animal_pathogens.html",
      target: "_blank"
    }
      http://www.australiagroup.net/en/human_animal_pathogens.html
    , accessed 28 August 2016).
  %p
    %strong
      Designated laboratories.
    These are laboratories designated to perform specific laboratory services by national, WHO or other authorities because of their proven capacities and capabilities, such as for AMR testing.
  %p
    %strong
      Designated points of entry.
    These refer to a port, airport and potentially a ground crossing that is designated by a State Party to strengthen, develop and maintain the capacities as per main IHR articles 19, 20 and 21, and as described in Annex 1 of the IHR:
    %ul
      %li
        The capacities at all times concerning access to medical services for prompt assessment and care of ill travellers, a safe environment for travellers (e.g. water, food, waste), personnel for inspection and vector control functions; and
      %li
        The capacities to respond specifically to events that may constitute a public health emergency of international concern.
  %p
    %strong
      Disease.
    An illness or medical condition, irrespective of origin or source, that presents or could present significant harm to humans.
  %p
    %strong
      Early warning system.
    A specific procedure in disease surveillance to detect any abnormal occurrence, or departure from the usual or normally observed frequency of phenomena (such as one case of Ebola fever), as early as possible. An early warning system is only useful if it is linked to mechanisms for early response (adapted from Last JM, Spasoff RA, Harris, editors. A dictionary of epidemiology, fourth edition. International Epidemiological Association, Inc. New York: Oxford University Press; 2001).
  %p
    %strong
      Epidemic.
    The occurrence in a community or region of cases of an illness, specific health-related behaviours, or other health-related events clearly in excess of normal expectancy. The community or region and the period in which the cases occur are specified precisely. The number of cases indicating the presence of an epidemic varies according to the agent, size and type of population exposed, previous experience or lack of exposure to the disease, and time and place of occurrence (adapted from Last JM, Spasoff RA, Harris, editors. A dictionary of epidemiology, fourth edition. International Epidemiological Association, Inc. New York: Oxford University Press; 2001).
  %p
    %strong
      Event.
    A manifestation of disease or an occurrence that creates a potential for disease.
  %p
    %strong
      Event-based surveillance.
    The organized and rapid capture of information about events that are a potential risk to public health. This information can be rumours and other ad hoc reports transmitted through formal channels (i.e. established routine reporting systems) and informal channels (i.e. the media, health workers and reports from nongovernmental organizations), including events related to the occurrence of disease in humans and events related to potential human exposure.
  %p
    %strong
      Feedback.
    The regular process of sending analyses and reports about surveillance data back through all levels of the surveillance system so that all participants can be informed of trends and performance.
  %p
    %strong
      Field Epidemiology Training Program
  %ul
    %li
      FETP Basic Level Training is for local health staff and consists of limited classroom hours interspersed throughout as a three-to-five month on-the-job field assignment to build capacity in conducting timely outbreak detection, public health response and public health surveillance.
    %li
      FETP Intermediate Level Training is for district/region/state-level epidemiologists, and consists of limited classroom hours interspersed throughout as a six-to-nine month on-the-job mentored field assignment to build capacity in conducting outbreak investigations, planned epidemiologic studies, and public health surveillance analyses and evaluations.
    %li
      FETP Advanced Level Training is for advanced epidemiologists and consists of limited classroom hours interspersed throughout the 24 months of mentored field assignments to build capacity in outbreak investigations, planned epidemiologic studies, public health surveillance analyses and evaluations, scientific communication, and evidence-based decision making for development of effective public health programming with a national focus. Animal health professionals can be engaged in these FETP trainings.
  %p
    %strong
      Functional exercise.
    A fully simulated interactive exercise that tests the capability of an organization to respond to a simulated event. The exercise tests multiple functions of the organization’s operational plan. It is a coordinated response to a situation in a time pressured realistic situation as described in WHO Simulation Exercise Manual 5. A functional exercise focuses on the coordination, integration and interaction of an organization’s policies, procedures, roles and responsibilities before, during or after the simulated event (
    %a{
      href: "http://apps.who.int/iris/bitstream/10665/254741/1/WHO-WHE-CPI-2017.10-eng.pdf?ua=1",
      target: "_blank"
    }
      WHO Simulation Exercise Manual.
    HO-WHE-CPI-2017.10, accessed 13 August 2017).
  %p
    %strong
      Ground crossing.
    A point of land entry into a State Party, including those utilized by road vehicles and trains.
  %p
    %strong
      Hazard.
    The inherent capability of an agent or situation to have an adverse effect; a factor or exposure that may adversely affect health (similar concept to risk factor).
  %p
    %strong
      Health care worker.
    Any employee in a health care facility who has close contact with patients, patient-care areas or patient-care items; also referred to as “health care personnel”.
  %p
    %strong
      Health event.
    Any event relating to the health of an individual, such as the occurrence of a case of a specific disease or syndrome, the administration of a vaccine or an admission to hospital.
  %p
    %strong
      Health measure.
    A procedure applied to prevent the spread of disease or contamination; it does not include law enforcement or security measures.
  %p
    %strong
      Incidence.
    The number of instances of illness commencing, or of persons falling ill, during a given period in a specified population (Prevalence and incidence. WHO Bulletin 1966;35:783-784).
  %p
    %strong
      Indicator-based surveillance.
    The routine reporting of cases of disease, including from notifiable diseases surveillance, sentinel surveillance, laboratory based surveillance. This routine reporting is commonly health care facility based with reporting done on a weekly or monthly basis.
  %p
    %strong
      Infection.
    The entry and development or multiplication of an infectious agent in the body of humans and animals that may constitute a public health risk.
  %p
    %strong
      Infectious disease.
    see Communicable disease.
  %p
    %strong
      International Health Regulations (2005) (IHR or the Regulations).
    This is a legally-binding instrument of international law which has its origin in the International Sanitary Conventions of 1851, concluded in response to increasing concern about the links between international trade and spread of diseases (cross-border health risks).
  %p
    %strong
      Legislation.
    The range of legal, administrative or other governmental instruments that may be available for States Parties to implement the IHR. This includes legally binding instruments, such as state constitutions, laws, acts, decrees, orders, regulations and ordinances; legally non-binding instruments, such as guidelines, standards, operating rules, administrative procedures or rules; and other types of instruments, such as protocols, resolutions and inter-sectoral or inter-ministerial agreements. This encompasses legislation in all sectors, such as health, agriculture, transportation, environment, ports and airports, and at all applicable governmental levels (national, intermediate, local and other).
  %p
    %strong
      Logistics.
    Pharmaceuticals, medical and surgical supplies, medical devices and equipment, and other products needed to support healthcare providers.
  %p
    %strong
      Multisectoral.
    A holistic approach involving the efforts of multiple organizations, institutes and agencies. It encourages interdisciplinary participation, collaboration and coordination of people of concern and resources from these key organizations for promoting health security, to achieve a specific goal.
  %p
    %strong
      National legislation.
    see Legislation.
  %p
    %strong
      National IHR Focal Point.
    The national centre designated by each State Party, which shall be accessible at all times for communications with WHO IHR contact points under the IHR.
  %p
    %strong
      Notifiable disease.
    A disease that, by statutory/legal requirements, must be reported to a public health or other competent authority in the pertinent jurisdiction when the diagnosis is made (adapted from Last JM, Spasoff RA, Harris, editors. A dictionary of epidemiology, fourth edition. International Epidemiological Association, Inc. New York: Oxford University Press; 2001).
  %p
    %strong
      Notification.
    The processes by which cases or outbreaks are brought to the knowledge of the health authorities. In the context of the IHR, notification is the official communication of a disease/health event to the WHO by the health administration of the Member State affected by the disease/health event.
  %p
    %strong
      One Health.
    Defined by WHO as an approach to designing and implementing programmes, policies, legislation and research in which multiple sectors communicate and work together to achieve better public health outcomes (
    %a{href: "http://www.who.int/features/qa/one-health/en/", target: "_blank"}
      http://www.who.int/features/qa/one-health/en/
    , accessed 28 November 2017). In the context of the WHO IHR monitoring and evaluation framework, taking a One Health approach means including, from all relevant sectors, national information, expertise, perspectives and experience necessary to conduct assessments, evaluations and reporting for the implementation of the IHR.
  %p
    %strong
      Other governmental instruments.
    Agreements, protocols and resolutions of any government authority or body.
  %p
    %strong
      Outbreak.
    An epidemic limited to localized increase in the incidence of a disease, such as in a village, town or closed institution (adapted from Last JM, Spasoff RA, Harris, editors. A dictionary of epidemiology, fourth edition. International Epidemiological Association, Inc. New York: Oxford University Press; 2001).
  %p
    %strong
      Point of entry.
    A passage for international entry or exit of travellers, baggage, cargo, containers, conveyances, goods and postal parcels, and the agencies and areas providing services to them upon entry or exit.
  %p
    %strong
      Port.
    A seaport or a port on an inland body of water where ships on an international voyage arrive or depart.
  %p
    %strong
      Public health emergency of international concern (PHEIC).
    An extraordinary event (as provided in the IHR) that: (i) constitutes a public health risk to other states through the international spread of disease; and (ii) potentially requires a coordinated international response.
  %p
    %strong
      Public health risk.
    The likelihood of an event that may adversely affect the health of human populations, with an emphasis on whether it may spread internationally or present a serious and direct danger.
  %p
    %strong
      Rapid response team.
    A group of trained individuals that is ready to respond quickly to an event. The composition and terms of reference are determined by the concerned country.
  %p
    %strong
      Readiness.
    It is the ability to quickly and appropriately respond when required to any emergencies.
  %p
    %strong
      Regulations or administrative requirements.
    All regulations, procedures, rules and standards.
  %p
    %strong
      Relevant sectors.
    Private and public sectors: such as all levels of the health care system (national, subnational and community/primary public health); NGOs; ministries of agriculture (zoonosis, veterinary laboratory), transport (transport policy, civil aviation, ports and maritime transport), trade and/or industry (food safety and quality control), foreign trade (consumer protection, control of compulsory standard enforcement), communication, defence, treasury or finance (customs), environment, interior, health, tourism; the home office; media; and regulatory bodies.
  %p
    %strong
      Risk communication.
    For public health emergencies includes the range of communication capacities required through the preparedness, response and recovery phases of a serious public health event to encourage informed decision making, positive behaviour change and the maintenance of trust.
  %p
    %strong
      Surveillance.
    The systematic ongoing collection, collation and analysis of data for public health purposes and the timely dissemination of public health information for assessment and public health response, as necessary.
  %p
    %strong
      Syndrome.
    A symptom complex in which the symptoms and/or signs coexist more frequently than would be expected by chance independently (adapted from Last JM, Spasoff RA, Harris, editors. A dictionary of epidemiology, fourth edition. International Epidemiological Association, Inc. New York: Oxford University Press; 2001).
  %p
    %strong
      Table top exercise.
    A facilitated discussion of an emergency situation, generally in an informal, low-stress environment. It is designed to elicit constructive discussion between participants; to identify and resolve problems; and to refine existing operational plans. This is the only type of simulation exercise that does not require an existing response plan in place. (
    %a{
      href: "http://apps.who.int/iris/bitstream/10665/254741/1/WHO-WHE-CPI-2017.10-eng.pdf?ua=1",
      target: "_blank"
    }
      WHO Simulation Exercise Manual.
    HO-WHE-CPI-2017.10, accessed 30 November 2017).
  %p
    %strong
      Trained staff.
    Individuals that have educational credentials and/or received specific instruction that is applicable to a task or situation.
  %p
    %strong
      Vector.
    An insect or other animal that normally transports an infectious agent that constitutes a public health risk.
  %p
    %strong
      Verification.
    The provision of information by a State Party to WHO confirming the status of an event within the territory or territories of that State Party.
  %p
    %strong
      WHO IHR contact point.
    The unit within WHO that is accessible at all times for communications with the National IHR Focal Point.
  %p
    %strong
      Zoonotic diseases (or zoonoses).
    Any infection or infectious disease that is naturally transmissible from vertebrate animals to humans (
    %a{href: "http://www.who.int/topics/zoonoses/en", target: "_blank"}
      http://www.who.int/topics/zoonoses/en
    , accessed 28 November 2017).
  %p
    %strong
      Zoonotic event.
    A manifestation of a disease in animals that creates a potential for a disease in humans as a result of human exposure to the animal source.
