.reference-library{
  "data-controller": "reference-library",
  "data-reference-library-technical-areas": @technical_areas.to_json,
  "data-reference-library-template-selector": "#templateForFilterCriterionBadgePill"
}
  = link_to "Add Resource", "https://airtable.com/shrGiWYwJV7TSJNMu", class: "btn btn-primary", role: "button", style: "float: right; margin-top: 6px;"
  %h1 Reference Library
  .row.flex-wrap-reverse
    .col-lg-4.col-md-12
      = render partial: "reference_filter_by"
    .col-lg-8.col-md-12
      .result-metadata
        %p
          %a{
            href: "#",
            "data-action": "reference-library#resetForm",
            "data-turbolinks": "false"
          }
            Reset
          %span.pipe-with-space
            |
          %strong
            Selections:
          %span#filterCriteriaDisplay{
            "data-reference-library-target": "filterCriteriaDisplay"
          }
        %p
          Showing
          %span{"data-reference-library-target": "documentCount"}
      .document-container
        - @documents.each do |document|
          = render partial: "reference_document", locals: {document: document}
%script#templateForFilterCriterionBadgePill{type: "text/html"}
  %span.badge.badge-pill
    {{text}}
    %svg.x-close{
      xmlns: "http://www.w3.org/2000/svg",
      "data-action": "click->reference-library\#{{methodName}}"
    }
      %path{
        d: "M5.646 5.646a.5.5 0 000 .708l8 8a.5.5 0 00.708-.708l-8-8a.5.5 0 00-.708 0z"
      }
      %path{
        d: "M14.354 5.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z"
      }
