- require 'csv'

.resource-library{"data-controller": "resource-library"}
  %h1 Resource Library
  .row.flex-wrap-reverse
    .col-lg-4.col-md-12
      = render partial: "resource_filter_by"
    .col-lg-7.col-md-12
      .result-metadata
        %p
          %a{href: "#", "data-action": "resource-library#resetForm", "data-turbolinks": "false"}
            Reset
          %span.pipe-with-space
            |
          %strong
            Selections:
        %p
          %strong
            Showing:
          %span{"data-target": "resource-library.documentCount"}
      - @documents.each do |document|
        = render partial: "resource_document", locals: document.to_h
