= render layout: "layouts/benchmark_document" do
  %h1
    4. Zoonotic disease
  %p
    Functional multisectoral, multidisciplinary mechanisms, policies, systems and practices are in place to minimize the transmission and spread of zoonotic diseases between animals and humans.
  .callout-with-icon
    .col-1.mx-auto.px-0
      = inline_svg_tag "star.svg"
    .col
      %h3
        Impact
      Functional animal health, environment and human health systems work individually and collaboratively through documented mechanisms and operational frameworks, using a multisectoral One Health approach and based on international standards, guidance and best practices, to minimize the transmission of zoonotic diseases to human populations.
  .callout-with-icon
    .col-1.mx-auto.px-0
      = inline_svg_tag "ico-bar-chart.svg"
    .col
      %h3
        Monitoring and evaluation
      (1) Agreement by the animal health and public health sectors on a common list of zoonotic diseases/pathogens of greatest national public health concern. (2) Existence of functional capacities in the animal health and public health sectors and of collaboration, coordination and communication between them for preparedness, detection, assessment and response to zoonotic diseases.
  %hr.indicator-hr/
  %a{name: "4.1"}
  .indicator-head
    %h3
      Benchmark 4.1
    Coordinated surveillance system is in place for priority zoonotic diseases/pathogens
  %p
    %strong
      Objective:
    Strengthen coordinated surveillance systems for priority zoonotic diseases/pathogens
  .indicator-capacity-row.first
    .head.col.bg-danger
      .level-num
        01
      .level-desc
        No capacity
    .body.col-9
      No jointly agreed upon list of priority diseases to focus coordinated surveillance efforts.
      No organized coordinated surveillance system in place to connect animal and public health system.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        02
      .level-desc
        Limited capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Identify key stakeholders and focal points from animal health (domestic animals and wildlife), human health, environmental health and other key sectors.
        %li
          Review and assess surveillance capacity in each sector and any existing coordination or data sharing mechanism between the relevant sectors.
        %li
          Jointly define and prioritize zoonotic diseases of greatest national public health concern for the country through a One Health approach that involves all relevant stakeholders.
        %li
          Develop strategy, guidelines and SOPs for coordinated surveillance and reporting of at least two priority zoonotic diseases of greatest national public health concern.
        %li
          Develop adequate laboratory capacity and standards within relevant sectors to detect zoonotic diseases.
        %li
          Develop operational plans for the management of at least two priority zoonotic diseases of greatest national public health concern.
        %li
          Develop and disseminate training packages on the operational plan, associated guidelines and SOPs.
        %li
          Designate a focal point or unit within the animal and human health sectors and other relevant sectors and formalize a coordination mechanism for priority zoonotic diseases/pathogens.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        03
      .level-desc
        Developed capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Establish animal–human interfaces and procedures to exchange surveillance information on zoonotic diseases among relevant sectors (and wider when needed), ideally through an electronic system.
        %li
          Establish an interoperability platform or information sharing mechanism between the relevant sectors to initiate coordinated surveillance activities.
        %li
          Implement the operational plan and allocate resources for the prevention and detection of priority zoonotic diseases of greatest national public health concern.
        %li
          Train responsible staff for specific aspects of the surveillance and management of priority zoonotic diseases at national and subnational levels.
  .indicator-capacity-row
    .col.head.bg-success
      .level-num
        04
      .level-desc
        Demonstrated capacity
    .col-9.body
      %strong
        Actions to achieve this level:
      %ul
        %li
          Expand laboratory-enhanced coordinated surveillance to all priority zoonotic diseases/pathogens at all levels (national, intermediate and local levels) in all sectors.
        %li
          Enhance the interoperability platform or information sharing mechanism between the relevant sectors, ideally through linking existing or establishing new electronic systems where applicable.
        %li
          Train additional staff across all relevant sectors in the surveillance and management of zoonotic diseases at subnational levels.
        %li
          Use coordinated surveillance data to inform disease prevention and control efforts across all relevant sectors.
  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        05
      .level-desc
        Sustainable capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Allocate available and sustainable resources for coordinated surveillance and management of all priority zoonotic diseases across relevant sectors.
        %li
          Test surveillance system capacity regularly with all relevant sectors to detect zoonotic events and the management of zoonotic diseases either by an after-action review or simulation exercise.
        %li
          Use coordinated surveillance data to inform and evaluate disease prevention and control efforts across all relevant sectors.
        %li
          Based on the results of these exercises or reviews, update the guidelines, SOPs and operational plan where appropriate.
  %a{name: "4.2"}
  .indicator-head
    %h3
      Benchmark 4.2:
    Functional mechanism to respond to priority zoonotic diseases in place
  %p
    %strong
      Objective:
    Strengthen mechanism to respond to zoonotic diseases
  .indicator-capacity-row.first
    .head.col.bg-danger
      .level-num
        01
      .level-desc
        No capacity
    .body.col-9
      No coordinated response mechanism for priority zoonotic diseases.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        02
      .level-desc
        Limited capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Review and assess existing multisectoral policy, strategy, plan and/or mechanism for responding to priority zoonotic events.
        %li
          Develop guidelines and SOPs for coordinated response to zoonotic events and more widely for the management of priority zoonotic diseases by all relevant sectors.
        %li
          Designate a focal point from each sector (animal (domestic animals and wildlife), human and environmental health) for response coordination.
        %li
          Develop and disseminate training packages on these guidelines and SOPs.
        %li
          Allocate the budget, either domestic or external funds, to the relevant sectors and their respective ministries to support the implementation of IHR capacities for biological hazards at the national level.
        %li
          •	Publish these policies/strategies and plan.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        03
      .level-desc
        Developed capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Develop a multisectoral One Health operational plan, with the provision of resources, for a coordinated response to an outbreak of at least two priority zoonotic diseases by all relevant sectors.
        %li
          Train staff of human, animal (domestic animals and wildlife), and environmental health sectors on these guidelines, SOPs and operation plan.
        %li
          Establish a communication mechanism for rapidly alerting all relevant sectors to priority zoonotic outbreak events to increase sector awareness and decrease the time to conduct a coordinated outbreak response.
        %li
          Ensure that access to laboratory capacity to detect pathogens for any priority zoonoses is included in the response plans.
  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        04
      .level-desc
        Demonstrated capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Disseminate and expand the operational plan to respond to all priority zoonotic diseases to the intermediate and local levels for all the relevant sectors.
        %li
          Regularly analyse and produce reports on the timeliness of information exchange and activation of response mechanisms between sectors.
        %li
          Develop next steps for improving response timelines.
        %li
          Monitor and evaluate the multisectoral coordination mechanism for cresponse regularly.
        %li
          Review and update the operational plan/mechanism based on the results of monitoring and evaluation.
  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        05
      .level-desc
        Sustainable capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Conduct after-action reviews and/or simulation exercises to test the operationality of the response to zoonotic diseases events across all relevant sectors.
        %li
          Review and update the operational plan/mechanism based on the results.
        %li
          Document and disseminate the results and lessons learned from efforts to minimize animal-to-human spread of disease.
  %h3 Tools:
  %ul
    %li
      %a{href: "https://www.who.int/ihr/capacity-strengthening/human-animal-interface/en/", target: "_blank"}
        Implementation of the IHR at the human-animal-health interface
    %li
      %a{href: "https://www.who.int/foodsafety/areas_work/zoonose/glews/en/", target: "_blank"}
        Global early warning system for major animal disease including zoonoses (GLEWS)
    %li
      %a{href: "https://www.who.int/zoonoses/en/", target: "_blank"}
        Managing public health risks at the human-animal-environment interface
    %li
      %a{href: "https://www.who.int/neglected_diseases/diseases/zoonoses/en/", target: "_blank"}
        Neglected zoonotic disease
    %li
      %a{href: "https://www.who.int/zoonoses/diseases/en/", target: "_blank"}
        Zoonotic diseases
    %li
      Zoonotic diseases:
      %a{href: "https://www.oie.int/doc/ged/D12060.PDF", target: "_blank"}
        a guide to establishing collaboration between animal and human health sectors at the country level.
    %li
      Zoonotic -
      %a{href: "https://www.who.int/zoonoses/diseases/surveillance/en/", target: "_blank"}
        Surveillance and Control
    %li
      %a{href: "https://www.who.int/features/qa/one-health/en/", target: "_blank"}
        One Health
    %li
      %a{href: "http://www.oie.int/en/animal-health-in-the-world/", target: "_blank"}
        Animal Health in the World
    %li
      Resources -
      %a{href: "http://www.oie.int/en/solidarity/", target: "_blank"}
        World organisation of animal health (OIE)
    %li
      %a{href: "http://www.oie.int/en/standard-setting/overview/", target: "_blank"}
        OIE international standards
    %li
      %a{href: "https://www.who.int/ihr/publications/9789241511889/en/", target: "_blank"}
        Handbook for the assessment of capacities at the human-animal interface.
      World Health Organization and the World Organisation for Animal Health; 2017
