= render layout: "layouts/benchmark_document" do

  %h1
    17. Chemical events
  
  %p
    States Parties have in place surveillance and response capacity for chemical risks or events. This requires effective communication and collaboration among the sectors responsible for chemical safety, including health, industry, transportation, waste disposal, animal health and the environment. 
    
  .callout-with-icon
    .col-1.mx-auto.px-0
      = render file: Rails.root.join("app", "assets", "images", "star.svg")
    .col
      %h3
        Impact
      Timely detection of and effective response to potential chemical risks and/or events in collaboration with other sectors responsible for chemical safety, industries, transportation and safe waste disposal. 
      
  .callout-with-icon
    .col-1.mx-auto.px-0
      = render file: Rails.root.join("app", "assets", "images", "ico-bar-chart.svg")
    .col
      %h3
        Monitoring and evaluation
      Mechanisms and an enabling environment established and functioning for detecting and responding to chemical events or emergencies.

  %hr.indicator-hr
  %a{name: "17.1"}

  .indicator-head
    %h3
      Benchmark 17.1
    Mechanisms are in place for surveillance, alert and response to chemical events or emergencies
  %p
    %strong
      Objective:
    Establish policies, legislation, plans and capacities for surveillance, alert and response to chemical events or emergencies

  .indicator-capacity-row.first
    .head.col.bg-danger
      .level-num
        01
      .level-desc
        No capacity
    .body.col-9
      No mechanism to detect and respond to chemical events, poisonings or emergencies.

  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        02
      .level-desc
        Limited capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li 
          Assess existing policies, legislation and plans for chemical event surveillance, alert and response. 
        %li 
          Develop a strategy to fill gaps.
        %li 
          Identify key stakeholders in all sectors and establish focal points for coordination and collaboration for chemical event surveillance, alert and response.
        %li 
          Identify and describe priority chemical events
          %sup
            %a{href: "#49"}
              49
          to inform planning, a process which can include conducting an inventory of potentially hazardous chemical sites and manufacturing facilities and a review of past chemical events. 
        %li 
          Assess capacities for chemical event surveillance, alert and response at all levels (national, subnational).
        %li 
          Develop a strategy and action plan to increase capacities.
        %li 
          Develop guidelines and SOPs for surveillance, alert and response to chemical events and emergencies including for laboratories, and develop training packages on these guidelines and SOPs.
        %li 
          Develop capacities for diagnosis and treatment of chemical poisonings and establish a poison information service that operates at least during office hours.
        %li 
          Assess existing laboratory capacities for the analysis of human and environmental samples to inform the assessment and management investigation of chemical events and poisonings. 
        
        
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        03
      .level-desc
        Developed capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li 
          Develop all the necessary policies and legislation for chemical event surveillance, alert and response.
        %li 
          Develop event response plans at all levels (national, subnational, local) with the involvement of relevant stakeholders and ensure the following:
          %li
            Map and review all hazardous sites and facilities.
          %li
            Define roles and responsibilities of relevant agencies for response during events.
          %li
            Prepare protocols for the investigation and verification of chemical events and poisoning, including through laboratory testing.
          %li
            Assess training needs and develop a training plan.
          %li
            Conduct training of personnel at relevant agencies and facilities.
          %li
            Implement SOPs for coordination and collaboration during chemical events.
        %li 
          Establish a surveillance system based on the above strategy and guidelines for surveillance and alert.
        %li 
          Provide adequate resources to the national 
          %a{href: "http://apps.who.int/iris/bitstream/10665/41966/1/9241544872_eng.pdf", target: "_blank"}
            poison information service
          %a{href: "#50"}
            %sup
              50
          to operate on a 24/7 basis, and integrate the poisons information service into the public health surveillance system.
        %li 
          Put in place agreements with designated quality assured laboratories (national or laboratories in other countries) for timely analysis of biological and environmental samples with suspected chemical exposure.
        
  .indicator-capacity-row
    .col.head.bg-success
      .level-num
        04
      .level-desc
        Demonstrated capacity
    .col-9.body
      %strong
        Actions to achieve this level:
      %ul
        %li 
          Establish links with key international chemical/toxicology networks
          %a{href: "#51"}
            %sup
              51
          for support in the management of chemical events and poisonings.
        %li 
          Ensure all relevant personnel receive regular training on surveillance, alert and response to chemical events and poisonings.
        %li 
          Share on a routine basis, information on chemical events, chemical event risk assessments and response action with relevant agencies.
        %li 
          Monitor on a routine basis, the timeliness of the information sharing mechanism about events and potential risk.
        
  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        05
      .level-desc
        Sustainable capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li 
          Conduct after-action reviews following detection and response to chemical events, or in the absence of real events, conduct exercises.
        %li 
          Document and use the findings to assess, review and strengthen surveillance, alert and response including coordination and communication. 
        %li 
          Allocate adequate resources including funds to poison centre(s).
        %li 
          Develop a mechanism to integrate the systems of public health surveillance and environmental monitoring that captures and assesses chemical exposures from different sources. 
        %li 
          Sustain a mechanism to ensure response capacity
          %a{href: "#52"}
            %sup
              52
          at national, subnational and local levels.
 
  %h3 Tools:  
  %ul
    %li 
      %a{href: "http://www.who.int/environmental_health_emergencies/publications/Manual_Chemical_Incidents/en/", target: "_blank"}
        The public health management of chemical incidents. 
      Geneva: World Health Organization; 2009. 
    %li 
      %a{href:"http://www.who.int/ipcs/publications/natech/en/", target: "_blank"}
        Chemical releases caused by natural hazard events and disasters: information for public health authorities. 
      Geneva: World Health Organization; 2018 accessed 8 October 2018).
    %li
      %a{href:"http://apps.who.int/iris/bitstream/10665/41966/1/9241544872_eng.pdf", target: "_blank"}
        Guidelines for poisons control. 
      Geneva: World Health Organization; 1997.
    
  %hr.indicator-hr
    %h4 Footnotes:

    %a{name: "49"}
      %sup
        49
      This process can include carrying out an inventory of hazardous chemical sites and a review of past chemical events.
    
    %p
    %a{name: "50"}
      %sup
        50
      The poisons centre should be sufficiently staffed and resourced to provide a robust and reliable 24/7 service. The poisons centre should be well used by the population it serves (check number of calls per day). Refer to 
      %a{href: "http://apps.who.int/iris/bitstream/10665/41966/1/9241544872_eng.pdf", target: "_blank"}
        Guidelines for poisons control. 
      Geneva: World Health Organization; 1997. 
  
    %p
    %a{name: "51"}
      %sup
        51
      Examples include the WHO global and regional toxicology networks and other regional networks, such as in the European Union, professional toxicology associations.
    
    %p
    %a{name: "52"}
      %sup
        52
      This includes setting minimum requirements for: local emergency planning and response activities (i.e. arrangements for scaling up capabilities of local emergency response, national support mechanisms, and infrastructure and alerting mechanisms); inspection of hazardous sites and assessment of emergency plans; and operators to comply and liaison with local governments (see also: WHO manual: 
      %a{href: "http://www.who.int/environmental_health_emergencies/publications/Manual_Chemical_Incidents/en/", target: "_blank"}
        The public health management of chemical incidents. 
      Geneva: World Health Organization; 2009 (, accessed 30 January 2019)).