= render layout: "layouts/benchmark_document" do
  %h1
    11. Emergency preparedness
  %p
    State Parties are in “emergency
    = raw 'preparedness.”<sup><a href="#47">47</a>'
    Strategic risk assessment identifies, analyses and evaluates the range of risks in a country and enables the risks to be assigned a level of priority. It includes analyses of potential hazards exposures and vulnerabilities, identification and mapping of available resources, and analyses of capacities (routine and surge) at the national, intermediate and local or primary levels to manage the risks of outbreaks and other emergencies. Emergency preparedness applies to any hazard that may cause an emergency and includes biological, chemical, radiological and nuclear, natural, other technological and societal hazards.
  .callout-with-icon
    .col-1.mx-auto.px-0
      = inline_svg_tag "star.svg"
    .col
      %h3
        Impact
      Multisectoral actors at national and subnational (local and intermediate) levels have a common understanding of the priority risks and are ready for timely, effective and efficient emergency response operations for outbreaks and other emergencies.
  .callout-with-icon
    .col-1.mx-auto.px-0
      = inline_svg_tag "ico-bar-chart.svg"
    .col
      %h3
        Monitoring and evaluation
      (1) Existence of national strategic multihazard emergency risk assessments (risk profiles) and resource mapping. (2) Existence of multihazard emergency response plans. (3) Evidence from exercises as well as after-action and other reviews of effective and efficient multisectoral emergency response operations for outbreaks and other public health emergencies.
  %hr.indicator-hr/
  %a{name: "11.1"}
  .indicator-head
    %h3
      Benchmark 11.1
    Strategic emergency risk assessments conducted, and emergency resources identified, mapped and utilized
  %p
    %strong
      Objective:
    To assess and assign priorities to risks based on analyses of hazards exposures and vulnerabilities and capacities, and develop inventories and maps of available resources for emergency preparedness and response.
  .indicator-capacity-row.first
    .head.col.bg-danger
      .level-num
        01
      .level-desc
        No capacity
    .body.col-9
      Country does not have capacity for emergency risk assessments and resource mapping.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        02
      .level-desc
        Limited capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Review existing strategic health emergency risk assessments, including for epidemics (i.e. communicable diseases, zoonoses and emerging infectious diseases), natural and technological hazards and other events that have the potential to cause health emergencies.
        %li
          Identify potential gaps or areas in strategic risk assessments that require updating.
        %li
          Develop a mechanism to ensure participation of the health sector and other stakeholders in the above processes, including in workshops to review and agree on outputs.
        %li
          Conduct a comprehensive multihazard health emergency risk assessment at the national level; include analysis of geographic areas and vulnerable subpopulations that may be at higher risk.
        %li
          Conduct a prioritization exercise to assign priorities to those risk scenarios described in the strategic health emergency risk assessments, including those that pose the greatest threats to public health.
        %li
          Map current national level resources to support the emergency response of the health sector at the national level, including human resources, finances, infrastructure, logistics and supplies (such as health facilities, emergency operation centres, transport, vehicles, cold chain capacity, telecommunications, warehousing, supply routes).
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        03
      .level-desc
        Developed capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Complete strategic health emergency risk assessments including hazards, exposures, vulnerabilities and capacities, and risk prioritization exercises in all relevant sectors at the national level.
        %li
          Map current resources to support emergency response in all relevant sectors at the national level.
        %li
          Review logistic and warehouse capacity based on the national multihazard response plan and the assessed need for stockpiling and prepositioning of supplies, and identify gaps in capacity that require support.
        %li
          Develop or revise the plan for management and distribution of national stockpiles.
        %li
          Implement measures for the management and distribution of stockpiles at the national level.
        %li
          Develop a training plan for rapid logistics needs asessments, and planning, management and distribution of stockpiles for public health events.
  .indicator-capacity-row
    .col.head.bg-success
      .level-num
        04
      .level-desc
        Demonstrated capacity
    .col-9.body
      %strong
        Actions to achieve this level:
      %ul
        %li
          Complete strategic health emergency risk assessments including hazards, exposures, vulnerabilities and capacities, and risk prioritization exercises in all sectors at the subnational level.
        %li
          Map current resources to support emergency response in all relevant sectors at the subnational level and identify gaps in capacities that require support.
        %li
          Implement measures for the management and distribution of stockpiles at the subnational level.
        %li
          Implement rapid needs assessments, planning, management and distribution of stockpiles for public health events.
        %li
          Complete trainings to support the management and distribution of stockpiles for public health events.
        %li
          Review national level resources (critical stock levels for priority risks) on an annual basis or when needed.
  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        05
      .level-desc
        Sustainable capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Review and update national and subnational strategic health emergency risk assessments and resource maps regularly.
        %li
          Secure funding to conduct rapid needs assessments in emergency situations.
        %li
          Test stockpile management regularly and update plans and strengthen capacities accordingly.
        %li
          Document and disseminate findings on risk assessment and experience, addressing suspected or confirmed health threats.
  %a{name: "11.2"}
  .indicator-head
    %h3
      Benchmark 11.2:
    Multisectoral planning for health emergency preparedness and response is in place
  %p
    %strong
      Objective:
    Development and implementation of multisectoral and multihazard emergency preparedness measures including emergency response plans
  .indicator-capacity-row.first
    .head.col.bg-danger
      .level-num
        01
      .level-desc
        No capacity
    .body.col-9
      The country has to develop and implement all activities listed in level 2 to achieve the limited capacity for each function.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        02
      .level-desc
        Limited capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Map key stakeholders and ministries involved in multihazard emergency preparedness and response including human, animal (domestic and wildlife) and environmental health sectors, meteorology, border control, food and drug agency, military, private agricultural sector, emergency services, defence, transport, media and finance.
        %li
          Conduct capacity assessments of each stakeholder to support emergency preparedness for priority risks at the national level, as appropriate.
        %li
          Identify key measures for all sectors to strengthen emergency preparedness for priority risks at the national level.
        %li
          Review current health sector multihazard emergency response plans and other response plans for specific hazards.
        %li
          Develop or update the national health sector multihazard emergency response plan.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        03
      .level-desc
        Developed capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Implement emergency preparedness measures at the national level by human health, animal health and other relevant sections, including for points of entry and mass gathering events.
        %li
          Develop or update national multisectoral multihazard emergency response plans.
        %li
          Review and update current multisectoral multihazard emergency response plans and other response plans for specific hazards at the national level.
        %li
          Conduct a national level simulation exercise to test the multi hazard response plan and adjust the plan based on the outcomes of the simulation or complete an after-action review of an actual event.
        %li
          Assess the need for additional emergency preparedness measures, including policies, procedures, SOPs and financial mechanisms, required to strengthen emergency preparedness.
        %li
          Implement the multi hazard response plan at the national level.
        %li
          Develop and implement a training plan for strengthening emergency preparedness measures and the multi hazard response plan at the national level.
        %li
          Secure capacity required for emergency preparedness measures for specific hazards or risk scenarios, including contingency planning, additional training and equipment.
        %li
          Develop mechanisms and SOPs for implementing domestic and international surge capacity as part of the multihazard response plan.
        %li
          Establish a performance-monitoring framework including indicators, criteria and timelines for emergency response.
  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        04
      .level-desc
        Demonstrated capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Implement emergency preparedness measures at national, subnational and local levels by human health, animal health and other relevant sectors, including at points of entry and mass gathering events.
        %li
          Develop or update multisectoral multihazard subnational and local multihazard response plans.
        %li
          Conduct simulations or after-action reviews at national and subnational levels to test the multihazard response plan with a focus on coordination and communication between the national and subnational levels of government and sectors; and adjust plans based on outcomes.
        %li
          Implement training for emergency preparedness and response at subnational levels.
        %li
          Review and develop emergency response plans for cross-border and multicountry events with regional counterparts and international partners.
  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        05
      .level-desc
        Sustainable capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Conduct regular simulation exercises or after-action reviews to test multihazard emergency response plans at national and subnational levels and implement measures to build capacities based on outcomes and recommendations.
        %li
          Conduct international simulation exercises to test multihazard emergency response plans for multiple country events. Adjust emergency response plans and strengthen emergency preparedness based on outcomes and recommendations.
        %li
          Assign dedicated human resources and allocate regular budget funding to support coordination and implementation of emergency preparedness measures by human health, animal health and other relevant sectors.
        %li
          Develop a mechanism to ensure that dedicated resources are in place for testing and implementation of multisectoral, multihazard emergency response plans, contingency plans and SOPs at national and subnational levels including an emergency financing mechanism for emergency response.
  %h3 Tools:
  %ul
    %li
      %a{href: "https://www.who.int/ihr/publications/9789241511827/en/", target: "_blank"}
        A strategic framework for emergency preparedness
    %li
      TEPHINET
      %a{href: "http://www.tephinet.org/", target: "_blank"}
        Accreditation
      of FETPs and resources for FETPs.
    %li
      %a{href: "https://www.who.int/hac/techguidance/preparedness/en/", target:"_blank"}
        Emergency and disaster risk management for health
    %li
      Emergencies preparedness and response –
      %a{href: "https://www.who.int/csr/en/", target:"_blank"}
        Resources
    %li
      Pandemic preparedness -
      %a{href: "https://www.who.int/influenza/preparedness/pandemic/en/", target:"_blank"}
        Resources
  %hr.indicator-hr
    %h4 Footnotes:
    %a{name: "47"}
      %sup
        47
      “Emergency preparedness” (defined as, the knowledge, capacities and organizational systems developed by governments, response and recovery organizations, and communities and individuals to effectively anticipate, respond to, and recover from the impacts of likely, imminent, emerging or current emergencies) is a combination of planning, allocation of resources, training, exercising, and organizing to build, sustain and improve operational capabilities at national, intermediate and local or primary response levels based on strategic risk assessments).
      %p
        Multisectoral actors at national and subnational (local and intermediate) levels have a common understanding of the priority risks and are ready for timely, effective and efficient emergency response operations for outbreaks and other emergencies. Risk based plans for emergency preparedness and response, robust emergency management structures and mobilization of resources during an emergency are critical for a timely response to public health emergencies.
