= render layout: "layouts/benchmark_document" do

  %h1
    6. Immunization
  
  %p
    A national vaccine delivery system is in place – with nationwide reach, effective distribution, easy access for marginalized populations, adequate cold chain and ongoing quality control – to respond to existing and new disease threats.
    
  .callout-with-icon
    .col-1.mx-auto.px-0
      = render file: Rails.root.join("app", "assets", "images", "star.svg")
    .col
      %h3
        Impact
      Effective protection through achievement and maintenance of immunization against measles and other epidemic-prone vaccine-preventable diseases (VPDs). Measles immunization is emphasized because it is widely recognized as a proxy indicator for overall immunization against VPDs and because measles is a continued cause of substantial avoidable morbidity and mortality. Countries will also identify and target immunization to populations at risk of other epidemic-prone VPDs of national importance (such as cholera, Japanese encephalitis, meningococcal disease, typhoid and yellow fever). Diseases that are transferable from animals to humans, such as anthrax and rabies, are also included.
  .callout-with-icon
    .col-1.mx-auto.px-0
      = render file: Rails.root.join("app", "assets", "images", "ico-bar-chart.svg")
    .col
      %h3
        Monitoring and evaluation
      90‒95% coverage of the country’s 12-month-old population with at least one dose of measles-containing vaccine (MCV), as demonstrated by coverage surveys.

  %hr.indicator-hr
  %a{name: "6.1"}

  .indicator-head
    %h3
      Benchmark 6.1
    Optimum vaccine coverage (measles) as part of a national programme
  %p
    %strong
      Objective:
    Increase vaccine coverage for priority vaccine preventable diseases in the country

  .indicator-capacity-row.first
    .head.col.bg-danger
      .level-num
        01
      .level-desc
        No capacity
    .body.col-9
      Less than 50% of the country’s 12-month-old population has received at least one dose of MCV, as demonstrated by coverage surveys or administrative data.

  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        02
      .level-desc
        Limited capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Assess and map existing coverage data to identify high-risk areas and populations to target control of selected VPDs.
        %li
          Evaluate immunization surveillance data, immunization registries, immunization data and reporting systems to identify areas for strengthening of immunization data management.
        %li
          Establish a multistakeholder working group to develop plans to establish a national vaccination registry.
        %li
          Integrate the WHO Global Vaccine Action Plan eradication and elimination goals into the national immunization plan.
        %li
          Develop and disseminate guidance and tools to increase routine immunization services, with a focus on first-dose measles coverage and conduct activities to ensure 50–69% first-dose measles coverage of the country’s 12-month-old population with at least one dose of MCV.
        %li
          Develop plans to perform catch-up campaigns or supplemental immunization activities, based on epidemiologic and coverage data.
        %li
          Develop a standardized system of monitoring and reporting of adverse events following immunization. 
        
        
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        03
      .level-desc
        Developed capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Use mapping and assessment data to plan targeted activities for routine and supplemental immunization for high-risk areas and populations.
        %li 
          Introduce the national vaccine registry in target jurisdictions.
        %li 
          Finalize and approve a national immunization plan to: improve coverage and introduce vaccine into targeted populations, develop steps to operationalize the plan, and disseminate the immunization plan to key stakeholders.
        %li 
          Disseminate messaging tools to improve knowledge-based capacities (communication and education) of healthcare staff for community socialization.
        %li 
          Develop guidelines, SOPs, training materials and toolkits on pre- and postservice guidance for immunizations; and train healthcare workers.
        %li 
          Conduct activities to achieve 70–89% first-dose measles coverage of the country’s 12-month-old population with at least one dose of MCV.
        %li 
          Develop guidelines and tools for safety and waste management and disseminate to all health facilities.
        %li 
          Operationalize a standardized system of monitoring and reporting of adverse events following immunization (AEFIs) at all health facilities.

  .indicator-capacity-row
    .col.head.bg-success
      .level-num
        04
      .level-desc
        Demonstrated capacity
    .col-9.body
      %strong
        Actions to achieve this level:
      %ul
        %li 
          Develop and implement strategies to increase immunization coverage in all groups with <90% first-dose MCV coverage.
        %li 
          Implement a national plan, finalized and approved by national and state/district/province authorities, to achieve 95% national level coverage by 2020.
        %li 
          Develop quality assurance standards and mechanisms for immunizations at designated health facilities.
        %li 
          Conduct activities to ensure 90% first-dose measles coverage of the country’s 12-month-old population with at least one dose of MCV.
        %li 
          Implement a routine monitoring and evaluation system for health workers who perform immunization.
        %li 
          Promote immunizations and sensitize communities through routine messaging via traditional/social media, and engaging civil society organizations and religious leaders.
        %li 
          Evaluate and validate the AEFI reporting system.

  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        05
      .level-desc
        Sustainable capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li 
          Secure sustainable domestic funding for immunizations. 
        %li 
          Establish full functionality and integrate the national vaccine registry with national health information systems, if appropriate to the national context.
        %li 
          Conduct activities to ensure 95% first-dose measles coverage of the country’s 12-month-old population with at least one dose of MCV.
        %li 
          Conduct formal surveys of hard-to-reach areas to ensure that coverage rates among vulnerable populations are >90%.
        %li 
          Conduct an evaluation of surveillance data to ensure that the case-based surveillance system is sufficiently sensitive to detect cases (such as measles immunoglobulin M negative febrile rash incidence rate ≥2 per 100 000 population) at the district/province/state levels.

  %a{name: "6.2"}

  .indicator-head
    %h3
      Benchmark 6.2:
    Provision of national vaccine access and delivery
  %p
    %strong
      Objective:
    Strengthening capacity for vaccine access and delivery to target population

  .indicator-capacity-row.first
    .head.col.bg-danger
      .level-num
        01
      .level-desc
        No capacity
    .body.col-9
      No plan is in place for nationwide vaccine delivery, nor have plans been drafted to provide vaccines throughout the country to target populations; or inadequate vaccine procurement and forecasting has led to regular stock-outs at the central or district levels.

  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        02
      .level-desc
        Limited capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li 
          Complete a review of plans, policies and procedures for vaccine delivery systems and use results to guide vaccine procurement, access and delivery of targeted vaccines.
        %li 
          Complete a review of cold-chain quality assurance and safety measures within vaccine storage and delivery systems to optimize supply chain management.
        %li 
          Review national laws and regulations for the procurement of vaccines from national and international sources during public health emergencies.
        %li 
          Identify barriers to procuring, receiving, storing and deploying vaccines to targeted populations.
        %li 
          Develop national guidance documents for vaccine stockpile and deployment, and obtain approval from ministry of health (and ministry of agriculture, where applicable).
        %li 
          Establish a cold chain for vaccine delivery to at least 40% of districts or 40% of the target population. 

  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        03
      .level-desc
        Developed capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li 
          Conduct a detailed assessment of existing cold chain equipment, including the functioning of cold chain equipment, and identify bottlenecks to maintaining needed cold chain infrastructure at the district/state/province levels; use assessment data to operationalize a plan to service/procure needed cold chain infrastructure.
        %li 
          Develop national guidelines for vaccine delivery to targeted populations with steps to operationalize the plan.
        %li 
          Develop and disseminate protocols, SOPs, technical guidelines and toolkits for storage, transportation and deployment of vaccines to healthcare workers and staff. 
        %li 
          Establish a cold chain for vaccine delivery to at least 40–59% of districts or 40–59% of the target population.
        %li 
          Establish procedures for procurement, storage and transportation of vaccines during public health emergencies.

  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        04
      .level-desc
        Demonstrated capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li 
          Procure and service cold chain equipment in areas identified by a comprehensive assessment.
        %li 
          Train healthcare workers and other immunization staff on protocols, SOPs, technical guidelines and toolkits for storage, transportation and deployment of vaccines.
        %li 
          Establish a cold chain for vaccine delivery to at least 60–79% of districts or 60–79% of the target population.
        %li 
          Conduct quality assurance of cold chain equipment and delivery systems.
        %li 
          Develop a response document to observe appropriate authorizations, clearances, ethical norms and permissions during vaccine delivery.
        %li 
          Establish an inventory system that monitors and transmits vaccine supply and requirements at all needed levels.
        %li 
          Develop training and exercises for hazard-specific response and management plans with sectors, stakeholders and other agencies.

  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        05
      .level-desc
        Sustainable capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li 
          Secure sustainable funding for vaccine delivery systems, including for procurement and routine repair of cold chain equipment.
        %li 
          Establish a cold chain for vaccine delivery to more than 80% of districts or more than 80% of the target population.
        %li 
          Conduct a functional exercise (either a simulation or vaccine campaign) to test vaccine delivery systems in a mass campaign or public health emergency setting.
        %li 
          Routinely analyse the inventory system to monitor vaccine supply needs and forecast requirements, with anticipated procurement.
        %li 
          Assess vaccine delivery assessment in hard-to-reach areas, targeted based on existing coverage/registry/surveillance data, and use results to improve vaccine delivery to these areas.
        %li 
          Develop a national strategic framework to prioritize resources and investments in immunization.
        %li 
          Establish a functional national body to assess and recommend an evidence-based national vaccine policy.

  %h3 Tools:
  %ul
    %li
      %a{href: "http://www.who.int/immunization/global_vaccine_action_plan/GVAP_doc_2011_2020/en/", target: "_blank"}
        Global Vaccine Action Plan
      — endorsed by all 194 Member States of the World Health Assembly in May 2012; provides a framework to prevent millions of deaths by 2020 through more equitable access to existing vaccines for people in all communities
    %li
      %a{href: "http://www.who.int/immunization/documents/mlm/en/", target: "_blank"}
        Training for mid-level Managers (MLM) 
      — modular training program on all aspects of immunization delivery, including cold chain, vaccines, safe injection equipment; partnering with the community; immunization safety; supportive supervision; monitoring the immunization system; annual immunization planning and budget; EPI coverage surveys; VPD surveillance
    %li
      %a{href: "http://www.who.int/immunization/diseases/measles/SIA-Field-Guide.pdf", target: "_blank"}
        Planning and Implementing High-Quality Supplementary Immunization Activities for Injectable Vaccines
      — 2016 guidance document on SIA planning and implementation, using measles and rubella vaccines as an example
    %li
      %a{href: "http://www.who.int/immunization/policy/immunization_tables/en/", target: "_blank"}
        WHO recommendations for routine immunization
      — summary of optimal immunization schedules for use by programme managers
    %li
      %a{href: "http://www.who.int/immunization/programmes_systems/policies_strategies/GRISP/en/", target: "_blank"}
        Global Routine Immunization Strategies and Practices (GRISP)
      — companion document to GVAP; provides a cohesive delivery and advocacy platform to promote routine immunizations
    %li
      %a{href: "https://www.who.int/immunization/monitoring_surveillance/burden/vpd/standards/en/", target: "_blank"}
        WHO Vaccine Preventable Disease Standards- updated standards for surveillance of VPDs
      — a resource for the immunizations