= render layout: "layouts/benchmark_document" do
  %h1
    2. IHR coordination, communication and advocacy and reporting
  %p
    Each country requires a well-supported, adequately trained team of national focal point(s) (NFPs) for the IHR to ensure effective coordination, communication and partnerships to prevent, detect, assess and respond to any public health events. The country ensures sustainable functioning of the IHR NFPs for IHR communications, coordination and partnership.
  .callout-with-icon
    .col-1.mx-auto.px-0
      = inline_svg_tag "star.svg"
    .col
      %h3
        Impact
      A mechanism for multisectoral/multidisciplinary coordination, communication and partnerships to prevent, detect, assess and respond to any public health event or emergency is in place. An IHR NFP that is always accessible to communicate with the regional WHO IHR Contact Points and with all relevant sectors and other stakeholders in the country.
  .callout-with-icon
    .col-1.mx-auto.px-0
      = inline_svg_tag "ico-bar-chart.svg"
    .col
      %h3
        Monitoring and evaluation
      (1) Establishment of a functional multisectoral and multidisciplinary mechanism for the coordination and integration of relevant sectors in the implementation of IHR and to respond to any public health events and emergencies. (2) Regular testing of the mechanism through actual experience and/or exercises and subsequent improvement of arrangements and procedures.
  %a{name: "2.1"}
  %hr.indicator-hr/
  .indicator-head
    %h3
      Benchmark 2.1
    The IHR NFP is fully functional
  %p
    %strong
      Objective:
    To establish a fully functional IHR NFP
  .indicator-capacity-row.first
    .head.col.bg-danger
      .level-num
        01
      .level-desc
        No capacity
    .body.col-9
      There is no sustainable or consistent NFP functioning for the IHR
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        02
      .level-desc
        Limited capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Designate or establish an NFP in line with the IHR requirements.
        %li
          Establish terms of reference outlining the role and responsibilities of IHR NFPs in fulfilling relevant obligations of the IHR.
        %li
          Maintain and regularly update a contact directory including all the members of NFP and capacitate NFPs for 24 hours a day, seven days a week (24/7) accessibility.
        %li
          Conduct training for NFPs.
        %li
          Establish SOPs for communicating and coordinating with WHO, including trigger and process for notification and reporting.
        %li
          Establish SOPs for communication among relevant sectors, including thresholds for reporting and response.
        %li
          Develop action plans for multisectoral/multidisciplinary coordination and communication mechanisms in a variety of settings including during times of high risk, deliberate events and mass gathering events.
        %li
          Provide annual reports to the World Health Assembly on IHR capacity development.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        03
      .level-desc
        Developed capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Implement SOPs for communicating and coordinating between NFPs and WHO and review performance regularly.
        %li
          Implement SOPs for communicating between the NFP and relevant sectors including those responsible for surveillance and reporting, points of entry, public health services, clinics and hospitals and other government departments/ministries and review performance regularly.
        %li
          Establish SOPs for communication and coordination between the NFP and nongovernmental agencies, including media and civil society.
        %li
          Regularly test the mechanism for multisectoral collaboration and communication through actual experience and/or scenarios for high risk, deliberate or mass gathering events.
        %li
          Develop communication channels, such as website updates or newsletters, to apprise relevant sectors and partners on developments in the relation to IHR implementation.
  .indicator-capacity-row
    .col.head.bg-success
      .level-num
        04
      .level-desc
        Demonstrated capacity
    .col-9.body
      %strong
        Actions to achieve this level:
      %ul
        %li
          Conduct formal evaluation of the role of NFPs and the coordination mechanism.
        %li
          Conduct regular refresher training for NFPs and orientation/training for new staff.
        %li
          Review NFP mastery of information and best practices.
        %li
          Routinely conduct after-action reviews or simulations and apply the lessons learnt relating to coordination and NFP role, prioritized for actions within national action plans.
  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        05
      .level-desc
        Sustainable capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Dedicate sustained resources (financial, human, technical) that are accessible and available for the NFP and related activities.
        %li
          Document and share lessons learnt related to NFP best practices.
        %li
          Provide support to NFPs in other countries as requested including through bilateral and regional arrangements.
  %a{name: "2.2"}
  .indicator-head
    %h3
      Benchmark 2.2:
    Multisectoral IHR coordination mechanism effectively supports the implementation of prevention, detection and response activities
    %p
    %strong
      Objective:
    To establish a multisectoral IHR coordination mechanism to support the implementation of prevention, detection and response activities.
  .indicator-capacity-row.first
    .head.col.bg-danger
      .level-num
        01
      .level-desc
        No capacity
    .body.col-9
      No multisectoral coordination mechanism exists
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        02
      .level-desc
        Limited capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Conduct a stakeholder analysis and establish a multisectoral coordination mechanism that meets regularly to discuss and promote IHR issues (develop a protocol, terms of reference and identify resources needed for the mechanism).
        %li
          Review existing national plans from relevant sectors and increase coordination and harmonization of resources and activities within the health system as well as across relevant sectors.
        %li
          Conduct an OIE performance of veterinary services (OIE PVS) evaluation (or other PVS assessments) or, if already done in the past two or three years, review the OIE PVS evaluation findings and their implementation status.
        %li
          Document and disseminate evidence that the coordination mechanism is working to address zoonoses and other existing or new health events at the human–animal interface.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        03
      .level-desc
        Developed capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Create/update the national action plan for improving health security and IHR capacity based on IHR monitoring and evaluation results.
        %li
          Update or review the coordination mechanism to address zoonoses and other existing or new health events at the human–animal interface.
        %li
          Document and disseminate evidence that the coordination mechanism for food safety among stakeholders from all relevant sectors is working as per the protocol.
  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        04
      .level-desc
        Demonstrated capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Conduct regular multisectoral coordination meetings and ensure that the outcomes of these meetings are disseminated to the external and internal audience, well documented and acted upon.
        %li
          Develop performance-based indicators and regularly measure outcomes related to NFPs and IHR compliance.
        %li
          Document and disseminate evidence that the coordination mechanism for chemical safety among stakeholders from all relevant sectors is working as per the protocol.
  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        05
      .level-desc
        Sustainable capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Provide sustained funding for the multisectoral coordination mechanism.
        %li
          Document and disseminate evidence that the coordination mechanism for radiation emergencies among stakeholders from all relevant sectors and national radiation safety authorities is working as per the protocol.
        %li
          Test and revise relevant processes related to the coordination mechanism in the absence of any events or emergencies.
        %li
          Document and share best practices.
  %h3
    Tools:
  %ul
    %li
      %a{href: "http://www.who.int/ihr/English2.pdf?ua=1", target: "_blank"}
        National IHR focal point guide
    %li
      %a{href: "http://www.who.int/ihr/revised_annex2_guidance.pdf?ua=1", target: "_blank"}
        WHO guidance for the use of Annex 2 of the International Health Regulations (2005)
