= render layout: "layouts/benchmark_document" do
  %h1
    12. Emeregency response operations
  %p
    Countries will: have a coordination mechanism, incident management systems, exercise management programmes and public health emergency operation centres (EOCs) functioning according to minimum common standards; and maintain trained, functioning, multisectoral rapid response teams and trained EOC staff capable of activating a coordinated emergency response within 120 minutes of the identification of an emergency.
  .callout-with-icon
    .col-1.mx-auto.px-0
      = inline_svg_tag "star.svg"
    .col
      %h3
        Impact
      Effective coordination and improved management of the response to outbreaks and emergencies as evidenced by shorter times from early warning and detection to activation and implementation of a coordinated multisectoral response across all levels resulting in fewer cases, deaths and other health and societal impacts.
  .callout-with-icon
    .col-1.mx-auto.px-0
      = inline_svg_tag "ico-bar-chart.svg"
    .col
      %h3
        Monitoring and evaluation
      (1) Establishment of an emergency response coordination mechanism or incident management system. (2) Development of national health EOC plans and procedures. (3) Emergency response systems and decision-making have been tested and are operating efficiently and effectively.
  %hr.indicator-hr/
  %a{name: "12.1"}
  .indicator-head
    %h3
      Benchmark 12.1
    Functional emergency response coordination is in place
  %p
    %strong
      Objective:
    To develop coordination mechanisms for emergency response
  .indicator-capacity-row.first
    .head.col.bg-danger
      .level-num
        01
      .level-desc
        No capacity
    .body.col-9
      An emergency response coordination mechanism is not available.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        02
      .level-desc
        Limited capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Establish a national health emergency coordination department or unit that maintains regular contact with experts from human, animal (domestic and wildlife), and environmental health as well as other sectors.
        %li
          Provide key potential informants and response partners for health emergency operations that can have 24/7 coverage in all major health systems.
        %li
          Develop a capacity to ensure that the IHR NFP and other responsible parties are available 24/7 to receive information about potential health threats and to report a public health emergency of international concern as outlined in IHR (2005).
        %li
          Develop and implement SOP for an ad-hoc emergency coordination mechanism during the events.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        03
      .level-desc
        Developed capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Establish an incident management system for managing emergency response at the national level, including participation of relevant sectors.
        %li
          Develop a plan and SOPs, including thresholds and levels for activating the emergency response coordination mechanism.
        %li
          Establish and maintain a roster of emergency operations staff with defined roles and functions.
        %li
          Develop a training plan for emergency response staff, including on the incident management system, and implement it at least at the national level.
        %li
          Finalize SOPs for coordination of key health sector actors (such as surveillance, health facilities, emergency medical teams, mental health departments).
        %li
          Identify, train and roster a pool of surge staff for emergency response coordination.
  .indicator-capacity-row
    .col.head.bg-success
      .level-num
        04
      .level-desc
        Demonstrated capacity
    .col-9.body
      %strong
        Actions to achieve this level:
      %ul
        %li
          Establish a health sector emergency response coordination mechanism with participation from health and other sectors for managing emergency response at the subnational and local levels.
        %li
          Train subnational and local level health sector staff on the emergency response coordination mechanism.
        %li
          Conduct, at least every two years, an emergency response exercise or after-action review with a focus on coordination between national and subnational levels.
  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        05
      .level-desc
        Sustainable capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Establish and sustain routine and emergency communications between national, subnational, and international coordination mechanisms through the focal points and allocate sustainable funding for these activities.
        %li
          Test coordination mechanisms at all levels annually and document and implement actionable improvements.
        %li
          Evaluate, document and disseminate information on activations, and if done, include exercises to promote continuous improvement in communication and coordination.
  %a{name: "12.2"}
  .indicator-head
    %h3
      Benchmark 12.2:
    Emergency operations centre (EOC) capacities, procedures and plans are in place
  %p
    %strong
      Objective:
    Develop emergency operation capacities
  .indicator-capacity-row.first
    .head.col.bg-danger
      .level-num
        01
      .level-desc
        No capacity
    .body.col-9
      An EOC has not been identified and no EOC plans/procedures are in place.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        02
      .level-desc
        Limited capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Conduct a baseline assessment of emergency operations capacity including infrastructure, systems, workforce and legislation.
        %li
          Develop a health EOC activation plan that includes scaled level of response with health, communication and other resource requirements at the national level.
        %li
          Establish a functioning health EOC with the capacity to coordinate emergency operations in the event of an emergency.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        03
      .level-desc
        Developed capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Form a steering committee or other management structure to develop objectives, essential functions and core components; oversee the EOC and monitor and evaluate its use.
        %li
          Develop an EOC implementation plan that includes both the planning and development of the EOC (as outlined in public health emergency operations centre network framework) and the costing, funding and sustainability of the EOC.
        %li
          Develop an EOC activation plan that includes scaled level of response with resource requirements at each level.
        %li
          Develop a mechanism to ensure that the national emergency response plan lays out the concept of operations for the entire emergency response system.
        %li
          Establish a functional national EOC that includes dedicated plan and procedures, a secure physical space, an information and communication technology infrastructure for information management and support of emergency operations, and trained staff.
        %li
          Develop and implement a training programme for national EOC staff including management, communications, finance and logistics.
        %li
          Develop standardized forms and templates for data/information management, reporting, briefing and record-keeping.
        %li
          Develop a database of subject matter experts for consultation on priority hazards.
        %li
          Identify critical pieces of information to inform emergency response, such as epidemic intelligence, and develop systems to capture and manage this information.
        %li
          Develop plans to link laboratory and surveillance infomormation to the emergency response communications structure.
  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        04
      .level-desc
        Demonstrated capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Conduct a simulated exercise or demonstrate in response to a real event that the national EOC can be activated within 120 minutes of receiving an early warning or information of an emergency requiring EOC activation.
        %li
          Develop EOCs at the subnational level (based on the risks and geographical need) with plans and SOPs.
        %li
          Train EOC staff of subnational levels on SOPs and allocate dedicated resources.
        %li
          Develop and implement a tracking of decision-making procedure for the activatation of an EOC.
  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        05
      .level-desc
        Sustainable capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Maintain a network of fully functional, funded EOCs and trained staff on a 24/7 basis.
        %li
          Test or update EOC functions regularly at all levels including for large scale and concurrent emergencies.
        %li
          Activate the national EOC network within 120 minutes, which includes activation of national, subnational or multisectoral EOCs annually, using real or simulated events.
        %li
          Identify and secure resources for implementing the EOC and related activities.
  %a{name: "12.3"}
  .indicator-head
    %h3
      Benchmark 12.3:
    Emergency exercise management programme is in place
  %p
    %strong
      Objective:
    Develop the emergency exercise management programme
  .indicator-capacity-row.first
    .head.col.bg-danger
      .level-num
        01
      .level-desc
        No capacity
    .body.col-9
      No exercises have been completed in the past five years.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        02
      .level-desc
        Limited capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Identify an emergency exercise management coordinator and team in the health sector.
        %li
          Conduct either a structured after-action review from an actual activation or design and conduct a national-level multisectoral health emergency table-top exercise that includes multiple sectors/stakeholders that tests the emergency response plan and critical core capacities based on priority risks/hazards at least every five years.
        %li
          Document recommended actionable improvements based on the after-action review or exercise.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        03
      .level-desc
        Developed capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Design and conduct a national level multisectoral health emergency functional exercise that includes multiple sectors/stakeholders and tests critical core capacities based on the priority risks/hazards at least evert two years.
        %li
          Document recommended actionable improvements based on the exercise OR conduct after-action review of events and share the results of after-action reviews with stakeholders at the national level.
        %li
          Develop and implement a corrective action plan based on the exercises and after-action review findings.
  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        04
      .level-desc
        Demonstrated capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Design and conduct various exercises to test emergency preparedness and response capacities at national and subnational levels based on priority risks/hazards every year
        %li
          Conduct a coordinated exercise at least annually with relevant sectors based on priority risks/hazards.
        %li
          Document recommended actionable improvements based on the exercise and maintain a record of recommendations and the status of their implementation.
        %li
          Conduct after-action reviews of events and share results of after-action reviews with stakeholders at subnational and national levels.
        %li
          Develop and implement the corrective action plan based on the exercises and after-action review findings at national and subnational levels.
  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        05
      .level-desc
        Sustainable capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Conduct varied exercises (or in combination) to test emergency preparedness and response capacities at national and subnationaland levels every year
        %li
          Track improvements identified in exercises and incorporate into national emergency response plans and plans for strengthening emergency preparedness and core capacities.
        %li
          Conduct after-action reviews of any events, and regularly and routinely share results of these reviews with stakeholders at all levels.
        %li
          Develop and implement corrective action plans based on the exercises and after-action review findings at all levels.
  %h3 Tools:
  %ul
    %li
      %a{href: "http://www.who.int/ihr/publications/9789241565134_eng/en/", target: "_blank"}
        Framework for a public health emergency operations centre
      &ndash; this document from WHO outlines the key concepts and essential requirements for developing and managing a PHEOC. It provides an outline for developing and managing a PHEOC to achieve a goal.
    %li
      %a{href: "https://wwwnc.cdc.gov/eid/article/23/13/17-0435_article", target: "_blank"}
        Sustainable model for public health emergency operations centres for global settings
      &ndash; article from US CDC on PHEOCs with case studies from Vietnam and Cameroon
    %li
      %a{href: "https://openwho.org/courses/incident-management-system", target: "_blank"}
        WHO Incident Management System
      &ndash; a training course from WHO that is designed to help users gain a foundational understanding of the Incident management system structure and its procedures at WHO.
    %li
      %a{href: "https://training.fema.gov/nims/", target: "_blank"}
        National Incident Management System
      &ndash; from the US Federal Emergency Management Agency is a series of free interactive online courses on incident management.
    %li
      %a{href: "http://www.health.state.mn.us/oep/training/useee/index.html", target: "_blank"}
        Public Health Incident Leadership Training
      &ndash; from the University of Minnesota is a training for public health practitioners with leadership responsibilities during responses to disasters and events with public health implications.
