= render layout: "layouts/benchmark_document" do
  %h1
    14. Medical countermesures and personnel deployment
  %p
    National framework for transferring (sending and receiving) medical countermeasures, public health and medical personnel from unaffected regions (rapid response teams/national emergency medical teams), and international partners during public health emergencies; and procedures for case management of events due to IHR relevant hazards.
  .callout-with-icon
    .col-1.mx-auto.px-0
      = inline_svg_tag "star.svg"
    .col
      %h3
        Impact
      Countries will have the necessary legal and regulatory processes and logistical plans to allow for rapid national or cross-border deployment and receipt of public health and medical personnel during emergencies. Regional (international) collaboration will assist countries in overcoming the logistical and regulatory challenges to deployment of public health and medical personnel from one country to another.
      %p
      Country has developed case management procedures and implemented it during health emergencies due to IHR relevant hazards.
  .callout-with-icon
    .col-1.mx-auto.px-0
      = inline_svg_tag "ico-bar-chart.svg"
    .col
      %h3
        Monitoring and evaluation
      (1) Evidence of at least one response to a public health emergency within the previous year that demonstrates that the country sent or received medical countermeasures and personnel according to written national or international protocols, or a formal exercise or simulation that demonstrates these measures. (2) Evidence of demonstrating application of case management procedures for events due to IHR-relevant hazards. (3) Evidence of a strong national response team/emergency medical team (EMT) structures, exercises, trainings, among others.
  %hr.indicator-hr/
  %a{name: "14.1"}
  .indicator-head
    %h3
      Benchmark 14.1
    System is in place for activating and coordinating medical countermeasures during a public health emergency
  %p
    %strong
      Objective:
    To develop a functional system for activating and coordinating medical countermeasures during a public health emergency
  .indicator-capacity-row.first
    .head.col.bg-danger
      .level-num
        01
      .level-desc
        No capacity
    .body.col-12.col-md-9
      No national countermeasures plan has been drafted.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        02
      .level-desc
        Limited capacity
    .body.col-12.col-md-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Review national preparedness and response plans, legal and regulatory frameworks, and baseline capacity for stockpiling and deploying medical countermeasures, including sector roles and responsibilities, involving all key stakeholders.
        %li
          Review national laws and regulations for the registration, procurement and use of medical devices, vaccines, drugs, biologicals and medical supplies from national and/or international sources during public health emergencies.
        %li
          Complete feasibility assessment for establishing a medical countermeasures stockpile, including secure and functional facilities to stockpile medical countermeasures at all levels.
        %li
          Draft a national plan to send, receive, stockpile and deploy medical countermeasures.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        03
      .level-desc
        Developed capacity
    .body.col-12.col-md-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Adopt the national plan to send, receive, stockpile and deploy medical countermeasures, including mapping resources within the country and with partners.
        %li
          Develop standardized protocols, plans for storage, deployment and logistical and administrative support at all levels.
        %li
          Establish regulatory pathways for use of medical countermeasures including appropriate authorizations, clearances, ethical norms, and permissions during investigations and responses.
        %li
          Create deployment protocols, SOPs, technical guidelines and toolkits including communication materials, trainings and educational information to inform staff, the community and stakeholders.
        %li
          Train early responders in the appropriate use and management of countermeasures.
        %li
          Develop and conduct a table-top exercise, if countermeasures (which includes sending and receiving medical countermeasures) have not been deployed in the previous year.
  .indicator-capacity-row
    .col.head.bg-success
      .level-num
        04
      .level-desc
        Demonstrated capacity
    .body.col-12.col-md-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Review the implementation plan of sending, receiving, stockpiling and deploying medical countermeasures in at least one response.
        %li
          Include procurement of animal countermeasures in the country plans, procedures or legal provisions.
        %li
          If there is no response in the previous year, then develop and conduct a simulation exercise that tests the implementation plan.
  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        05
      .level-desc
        Sustainable capacity
    .body.col-12.col-md-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Establish partnerships with countries, and regional and international partners, that include procurement, sharing and distribution of medical countermeasures.
        %li
          Develop and routinely apply criteria to document progress of sending and receiving medical countermeasures during a response.
        %li
          Routinely test and evaluate the capacity of emergency deployment of medical countermeasures and update the plan.
        %li
          Develop a rational and evidence-based strategy to prioritize resources and investments in medical countermeasures at the national level.
  %a{name: "14.2"}
  .indicator-head
    %h3
      Benchmark 14.2:
    System is in place for activating and coordinating health personnel during a public health emergency
  %p
    %strong
      Objective:
    To develop a functional system for activating and coordinating health personnel during a public health emergency
  .indicator-capacity-row.first
    .head.col.bg-danger
      .level-num
        01
      .level-desc
        No capacity
    .body.col-12.col-md-9
      No national personnel deployment plan has been drafted.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        02
      .level-desc
        Limited capacity
    .body.col-12.col-md-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Review national preparedness and response plans, and legal and regulatory frameworks for sending and receiving health personnel with key stakeholders.
        %li
          Review national laws and regulations for the registration of EMTs.
        %li
          Conduct a stakeholder meeting to determine baseline capacity/capabilities of relevant ministries and partnering agencies for deployment of EMTs.
        %li
          Identify points of contact at relevant multisectoral organizations.
        %li
          Develop protocols, SOPs, technical guidelines and toolkits for sending and receiving health personnel, and for sharing information as appropriate.
        %li
          Identify and document barriers to registering, as well as receiving and deploying national/international health personnel and teams, including safety and liability guidance for personnel deployment.
        %li
          Develop SOPs and training for the organization, transportation and distribution of personal protective equipment, medications and supplies to health personnel.
        %li
          Develop standardized plans for treatment centres for triage, IPC and treatment during emergency incidents.
        %li
          Establish a communication network for health personnel during emergencies,
        %li
          Develop tools for emergency health disaster education of the public for community acceptance of deployed health personnel.
        %li
          Draft a national plan to send and receive health personnel.
        %li
          Apply to WHO EMT secretariat for assistance in developing national EMTs.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        03
      .level-desc
        Developed capacity
    .body.col-12.col-md-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Adopt the national plan on personnel deployment and develop procedures or legal provisions.
        %li
          Conduct a table-top exercise, if no response has occurred in the past year, which includes sending and receiving health personnel and teams, and comprising the creation of an EMT coordination cell and/or case management pillar in the national health EOC.
        %li
          Develop and conduct a table-top exercise which includes sending and receiving health personnel in an emergency and review the personnel deployment plan.
        %li
          Apply to the WHO EMT secretariat for mentorship and verification as an internationally classified EMT.
  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        04
      .level-desc
        Demonstrated capacity
    .body.col-12.col-md-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Review the implementation plan of sending and receiving health personnel in at least one event response.
        %li
          Conduct a simulation exercise, if no response has occurred in past year, to test the sending and receiving of health personnel.
        %li
          Establish and train a roster of qualified personnel to be activated in a public health emergency.
        %li
          Achieve certification as a national or international EMT from WHO to support the national response.
  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        05
      .level-desc
        Sustainable capacity
    .body.col-12.col-md-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Identify and partner with regional and international (such as Global Outbreak Alert and Response Network) partners for mobilizing health personnel.
        %li
          Develop and maintain a roster of trained and certified health personnel.
        %li
          Routinely test and evaluate capacity of emergency deployment of health personnel (sending and receiving) including the set up and running of an EMT coordination cell and/or case management pillar within the national health EOC.
  %a{name: "14.3"}
  .indicator-head
    %h3
      Benchmark 14.3:
    Case management procedures implemented for relevant IHR hazards
  %p
    %strong
      Objective:
    Develop and implement case management procedures for all relevant IHR hazards
  .indicator-capacity-row.first
    .head.col.bg-danger
      .level-num
        01
      .level-desc
        No capacity
    .body.col-12.col-md-9
      No case management guidelines are available for priority epidemic-prone diseases.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        02
      .level-desc
        Limited capacity
    .body.col-12.col-md-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Develop standardized case management guidelines for priority diseases and IHR-relevant hazards.
        %li
          Develop triggers for sharing information on diseases, conditions and events of public health emergency of international concern with relevant multisectoral agencies.
        %li
          Develop the dissemination plan (including training package) for case management guidelines for all levels.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        03
      .level-desc
        Developed capacity
    .body.col-12.col-md-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Disseminate case management guidelines to subnational level and points of entry.
        %li
          Develop and disseminate SOPs for the management and transport of potentially infectious patients, including patient referral and transportation mechanisms.
        %li
          Identify the transportation mechanism and referral centres based on priority risks.
  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        04
      .level-desc
        Demonstrated capacity
    .body.col-12.col-md-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Review case management, patient referral and transportation, and management and transportation of potentially infectious patients in accordance with guidelines and SOPs based on actual experience or a specific exercise to evaluate these procedures.
        %li
          Document the review of the implementation of these guidelines and SOPs.
  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        05
      .level-desc
        Sustainable capacity
    .body.col-12.col-md-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Establish a mechanism to ensure continuous presence of trained staff and resources for case management, patient referral and transportation for all IHR relevant emergencies/hazards.
        %li
          Review case management, patient referral and transportation of IHR relevant emergencies, if it occurred in the past two years.
        %li
          Document and disseminate lessons learned from the management of IHR-relevant emergencies.
  %h3 Tools:
  %ul
    %li
      %a{href: "https:/www.fda.gov/EmergencyPreparedness/Counterterrorism/MedicalCountermeasures/AboutMCMi/ucm431268.htm", target: "_blank"}
        What are medical countermeasures?
      Medical countermeasures are products (drugs, biologics, drugs, devices) that may be used in the event of a potential public health emergency due to IHR hazards (like infectious, food safety related events, chemical events and radiation events). These can be used to prevent, detect and respond to events associated with above mentioned threats and diseases.
    %li
      %a{href: "http://www.who.int/csr/disease/icg/qa/en/", target: "_blank"}
        International Coordinating Group on Vaccine Provision from International Federation of Red Cross and Red Crescent Societies, Médecins Sans Frontières, United Nations International Children's Emergency Fund and WHO
      , has information on mechanisms to manage and coordinate the provision of emergency vaccine supplies and antibiotics to countries during major outbreaks. This includes vaccines for cholera, meningitis and yellow fever.
    %li
      %a{href: "http://www.who.int/csr/outbreaknetwork/guidingprinciples/en/", target: "_blank"}
        Guiding Principles for International Outbreak Alert and Response
      &ndash; from the Global Outbreak Alert and Response Network (GOARN), provides information on how to prepare for field activity, to activate international support, to coordinate response in the field, to evaluate and follow up outbreaks of international importance. Classification and minimum standards for foreign medical teams in sudden onset disasters- from the EMT secretariat WHO, and undergoing re-write to include outbreak response by
      %a{href: "http://www.searo.who.int/entity/emergencies/flavio.pdf", target: "_blank"}
        clinical teams and coordination aspects
      and available in the “
      %a{href: "https://extranet.who.int/emt/guidelines-and-publications", target: "_blank"}
        Blue Book
      &period;”
    %li
      %a{href: "http://www.ifrc.org/PageFiles/115542/emt report hr.pdf", target: "_blank"}
      Emergency Medical Teams Initiative:
    Surge capacity in health care during emergencies. 28–29 November 2017 Bangkok, Thailand. The regulation and management of international emergency medical teams: from WHO and IFRC 2017, provides an overview of the issues in regulating and managing international emergency medical teams in a selection of large and small-scale sudden onset disasters.
  %hr.indicator-hr
    %h4 Footnotes:
    %a{name: "48"}
      %sup
        48
      EMTs consist of health professionals providing direct clinical care to populations affected by outbreaks, disasters and emergencies as a surge capacity to support the local health system. They could be civilian or military or nongovernmental teams and include both national and international personnel.
