= render layout: "layouts/benchmark_document" do
  %h1
    16. Points of entry
  %p
    States Parties designate and maintain core capacities at international airports and ports (and where justified for public health reasons, a State Party may designate ground crossings) that implement public health measures required to prevent, detect and manage a variety of public health risks in a multisectoral approach (IHR Annex 1b).
  .callout-with-icon
    .col-1.mx-auto.px-0
      = inline_svg_tag "star.svg"
    .col
      %h3
        Impact
      Timely detection of and effective response to any potential hazards that occur at or may be spread via points of entry.
  .callout-with-icon
    .col-1.mx-auto.px-0
      = inline_svg_tag "ico-bar-chart.svg"
    .col
      %h3
        Monitoring and evaluation
      (1) Public health emergency contingency plan for each designated points of entry in an all-hazard and multisectoral approach. (2) Evidence confirms core capacities prescribed in the IHR Annex 1B are established for responding to events that may constitute a public health emergency of international concern, and functioning in an all-hazard and multisectoral approach.
  %hr.indicator-hr/
  %a{name: "16.1"}
  .indicator-head
    %h3
      Benchmark 16.1
    Routine capacities at points of entry are in place
  %p
    %strong
      Objective:
    Establishment of routine capacities at designated points of entry
  .indicator-capacity-row.first
    .head.col.bg-danger
      .level-num
        01
      .level-desc
        No capacity
    .body.col-9
      Country does not have capacity for appropriate surveillance or medical services at designated points of entry.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        02
      .level-desc
        Limited capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Conduct capacity assessment at key points of entry to inform selection for IHR designation.
        %li
          Designate points of entry according to the requirements of IHR.
        %li
          Identify key relevant stakeholders that are related to establish capacities at each designated point of entry.
        %li
          Identify competent authorities at each designated point of entry.
        %li
          Conduct review of appropriate medical services including diagnostic facilities for the prompt assessment and care of sick travellers as per Annex 1B, 1(a), and identify gaps and corrective actions.
        %li
          Develop SOPs for medical services (identification of diagnostic facilities to collaborate with care of sick travellers and referral).
        %li
          Train staff on medical services SOPs and ensure the provision of adequate resources including space, equipment and premises as per Annex 1B, 1(a), 1(b).
        %li
          Establish capacities at designated points of entry of appropriate medical services as per IHR Annex 1B, 1(a).
        %li
          Develop a strategy to establish all the routine capacities prescribed in the IHR Annex 1B, 1.
        %li
          Develop a strategy to integrate designated points of entry into national surveillance systems.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        03
      .level-desc
        Developed capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Develop SOPs as per Annex 1B, 1 and train staff of designated points of entry.
        %li
          Allocate adequate resources to designated points of entry to establish routine capacities for biological hazards at all designated points of entry.
        %li
          Implement the strategy to have all the routine capacities prescribed in IHR Annex 1B, in place and functioning, for biological hazards.
        %li
          Implement the strategy with adequate resources to integrate designated points of entry into national surveillance systems.
  .indicator-capacity-row
    .col.head.bg-success
      .level-num
        04
      .level-desc
        Demonstrated capacity
    .col-9.body
      %strong
        Actions to achieve this level:
      %ul
        %li
          Regularly train staff on guidelines and SOPs as per Annex 1B, 1 at all designated points of entry.
        %li
          Allocate adequate resources to designated points of entry to establish routine capacities for all-hazard prevention, detection and response.
        %li
          Implement the strategy to have all routine capacities prescribed in IHR Annex 1B in place and functioning, for all-hazards such as access to appropriate medical services and transportation of sick travellers to an appropriate medical facility for biological, chemical and radiation suspected or confirmed events.
        %li
          Integrate designated points of entry into national surveillance systems for all-hazards with the involvement of all relevant sectors.
        %li
          Develop a strategy for continuous improvement and regularly monitor and evaluate routine capacities at points of entry.
  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        05
      .level-desc
        Sustainable capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Allocate sustainable funds and mobilize staff for all key functions.
        %li
          Demonstrate best practices of functioning of all routine capacities for all-hazards and disseminate to key stakeholders.
        %li
          Document continuous improvements either through self-evaluation or external evaluation.
  %a{name: "16.2"}
  .indicator-head
    %h3
      Benchmark 16.2:
    Effective public health response at points of entry
  %p
    %strong
      Objective:
    Strengthen capacity for effective public health response at points of entry
  .indicator-capacity-row.first
    .head.col.bg-danger
      .level-num
        01
      .level-desc
        No capacity
    .body.col-9
      Public health emergency contingency plan for each designated point of entry for responding to public health emergencies is not in place.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        02
      .level-desc
        Limited capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Identify key stakeholders for each designated point of entry for all-hazards.
        %li
          Review the status of the emergency response plan at each designated point of entry.
        %li
          Develop a public health emergency contingency plan, including SOPs and guidance in some of the designated points of entry, prioritized by volume and frequency of international traffic, public health risks existing in areas in which the international traffic originates, or through which it passes, according to Annex 1B.2.
        %li
          Train staff of all designated points of entry on guidance and SOPs for responding to at least events due to biological hazards.
        %li
          Allocate resources including funds to all designated points of entry for implementation of the plan during the events.
        %li
          Integrate all designated points of entry into the national emergency preparedness and response plan with the involvement of relevant sectors and services.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        03
      .level-desc
        Developed capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Develop a public health emergency contingency plan for biological hazards in all the designated points of entry.
        %li
          Train staff of all designated points of entry on guidance and SOPs for responding to events due to biological hazards.
        %li
          Allocate resources including funds to all designated points of entry for implementation of the plan during the events.
        %li
          Demonstrate capacity to apply ad hoc measures related to travellers at points of entry (such as medical referral, transport) for early detection, assessment and safe transfer of sick travellers to appropriate medical facilities at all designated points of entry.
        %li
          Integrate all designated points of entry into the national emergency preparedness and response plan.
  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        04
      .level-desc
        Demonstrated capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Develop a public health emergency contingency plan for all-hazards in all the designated points of entry.
        %li
          Train staff of all designated points of entry on guidance and SOPs for responding to events due to any type of hazard, including care of affected animals and referral mechanism in collaboration with the animal sector.
        %li
          Allocate resources including funds to all designated points of entry for implementation of the plan during the event, including care of affected animals and referral mechanism to veterinary services.
        %li
          Demonstrate capacity to apply recommended measures to disinfect, de-rat, disinsect, decontaminate or otherwise treat baggage, cargo, containers, conveyances, goods and postal parcels.
        %li
          Regularly monitor or evaluate the capacity for preparedness and response measures at points of entry either during real events or through simulation exercises and update the contingency plan and response mechanism.
  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        05
      .level-desc
        Sustainable capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Conduct after-action review or a simulation exercise to test and review response capacities of all designated points of entry.
        %li
          Document the results of the after-action review/simulation exercise, and demonstrate action to address recommendations for improvement.
        %li
          Update the mechanisms, guidance, SOPs and plan, based on the findings of these evaluations and tests.
        %li
          Share best practices for continuous improvement with all relevant stakeholders.
  %h3 Tools:
  %ul
    %li
      %a{href: "https://www.who.int/ihr/ports_airports/PoE/en/", target: "_blank"}
        Assessment tool for core capacity requirements at designated airports, ports and ground crossings.
      Geneva: World Health Organization; 2009 . This document was developed to support States Parties in assessing existing capacities and capacity needs at points of entry when deciding which airports, ports and ground crossings to designate under Article 20.1 and Annex 1B. It includes an Excel spreadsheet file model for IHR core capacities assessment at ports, airports and ground crossings.
    %li
      %a{href: "http://www.who.int/ihr/publications/WHO_HSE_GCR_LYO_2014.12/en/", target: "_blank"}
        Coordinated public health surveillance between points of entry and national health surveillance systems: advising principles.
      Ist edition. Geneva: World Health Organization; 2014. This document provides steps for implementing/strengthening communication mechanisms and defines criteria for deciding what and how events should be reported between points of entry and the national health surveillance system.
    %li
      %a{href: "https://www.who.int/ihr/publications/9789241510165_eng/en/", target: "_blank"}
        Handbook for the management of public health events in air transport.
      Geneva: World Health Organization; 2015. This document is complementary to other WHO publications addressing risk assessment at a national level, contingency planning at points of entry, establishment of capacities and application of emergency plans at the airport level.
    %li
      %a{href: "http://www.who.int/ihr/publications/9789241549462/en/", target: "_blank"}
        Handbook for management of public health events on board ships.
      Geneva: World Health Organization; 2016. This document aims to provide technical advice to competent authorities at the port level for management of public health events on board ships. It complements other WHO publications addressing risk assessment at the national level, contingency planning at ports, airports and ground crossings, and establishment of capacities and application of emergency plans at the port level.
    %li
      %a{href: "http://www.who.int/ihr/publications/handbook_ships_inspection/en/", target: "_blank"}
        Handbook for inspection of ships and issuance of ship sanitation certificates.
      Geneva: World Health Organization; 2011. This handbook is based on the IHR (2005) provisions regarding ship inspections and issue of Ship Sanitation Certificates. It provides guidance for preparing and performing inspection, completing the certificates and applying public health measures within the framework of the IHR (2005).
    %li
      %a{href: "http://www.who.int/ihr/publications/9789241549592/en/", target: "_blank"}
        Vector surveillance and control at ports, airports, and ground crossings.
      Geneva: World Health Organization; 2016. This handbook provides technical advice for developing a comprehensive programme for systematic monitoring of disease vectors and integrated vector control at points of entry, based on IHR requirements.
    %li
      %a{href: "http://www.who.int/csr/resources/publications/ebola/travel-advice/en/", target: "_blank"}
        Ebola publications: Travel and points of entry.
      [WHO website] Technical guidance set on Ebola virus disease preparedness and response aims to: (i) provide early detection of potentially infected persons; (ii) assist in implementing WHO recommendations related to Ebola management; and (iii) prevent the international spread of the disease while allowing authorities to avoid unnecessary restrictions and delays at points of entry.
    %li
      %a{href: "http://www.who.int/water_sanitation_health/publications/2011/ship_sanitation_guide/en/", target: "_blank"}
        Guide to ship sanitation: Global reference on health requirements for ship construction and operation.
      Third edition. Geneva: World Health Organization; 2011. The primary aim of the revised guide to ship sanitation is to present the public health significance of ships in terms of disease and to highlight the importance of applying appropriate control measures.
    %li
      %a{href: "http://www.who.int/ihr/ports_airports/guide_hygiene_sanitation_aviation_3_edition_wcov.pdf", target: "_blank"}
        Guide to hygiene and sanitation in aviation.
      Geneva: World Health Organization; 2009. This document addresses water, and cleaning and disinfection of facilities with guidelines that provide procedures and quality specifications that are to be achieved.
    %li
      %a{href: "http://www.who.int/ihr/publications/9789290615668/en/", target: "_blank"}
        Guide for public health emergency contingency planning at designated points of entry.
      Geneva: World Health Organization; 2012. This guide was designed to assist WHO Member States, both large and small, to bridge the gap between the legal requirements of IHR (2005), and the pragmatic readiness and response capacity for public health emergencies at designated points of entry.
