= render layout: "layouts/benchmark_document" do
  %h1
    13. Linking public health and security authorities
  %p
    Country conducts a rapid, multisectoral response for any event of suspected or confirmed deliberate origin, including the capacity to link public health and law enforcement, and to provide timely international assistance.
  .callout-with-icon
    .col-1.mx-auto.px-0
      = inline_svg_tag "star.svg"
    .col
      %h3
        Impact
      Development and implementation of a memorandum of understanding or other similar framework outlining roles, responsibilities and best practices for sharing relevant information among appropriate human and animal health, law enforcement and defense personnel, and validation of the memorandum of understanding through periodic exercises and simulations. Countries have systems to conduct and support joint epidemiological and criminal investigations to identify and respond to suspected biological, chemical or radiological incidents of suspected deliberate origin in collaboration with individual Biological and Toxin Weapons Convention (BTWC) of States Parties, FAO, International Atomic Energy Agency (IAEA), International Criminal Police Organization (INTERPOL), OIE, Organisation for the Prohibition of Chemical Weapons (OPCW), the United Nations Secretary-General’s Mechanism for Investigation of Alleged Use of Chemical and Biological Weapons, WHO and other relevant regional and international organizations as appropriate.
  .callout-with-icon
    .col-1.mx-auto.px-0
      = inline_svg_tag "ico-bar-chart.svg"
    .col
      %h3
        Monitoring and evaluation
      Evidence of at least one response in the previous year that effectively links public health and law enforcement, or a formal exercise or simulation involving leadership from the country’s public health and law enforcement communities.
  %hr.indicator-hr/
  %a{name: "13.1"}
  .indicator-head
    %h3
      Benchmark 13.1
    Public health and security authorities (law enforcement, border control, customs) linked during a suspect or confirmed biological, chemical or radiological event
  %p
    %strong
      Objective:
    Strengthening the linkage between public health and security authorities during potential events of national concern
  .indicator-capacity-row.first
    .head.col.bg-danger
      .level-num
        01
      .level-desc
        No capacity
    .body.col-9
      No legislation, relationships, protocols, memoranda of understanding or other agreements exist between public health, animal health, radiological safety, chemical safety and security authorities to address all hazards.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        02
      .level-desc
        Limited capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Identify sectors responsible for response to potential IHR related hazards (biological, chemical and radiation).
        %li
          Identify points-of-contact to assist with the implementation of prevention, detection and response activities at government agencies across multiple sectors (such as public health, animal health, security authorities, agriculture, chemical, radiation).
        %li
          Determine roles and responsibilities for responding to various threats and other incidents of concern through a review of national response plans, policies and procedures, or other means, through an engagement meeting or other means.
        %li
          Assess risk of significant biological (and chemical or radiological) incidents of concern to the country.
        %li
          Develop triggers for sharing information on biological threats or other incidents of concern (such as chemical, radiological) with relevant multisectoral agencies.
        %li
          Establish an informal or formal communications process to share information, based on identified triggers, related to biological threats or other incidents of concern (such as chemical, radiological) among relevant multisectoral agencies (such as public health, animal health and security authorities).
        %li
          Train staff on joint risk assessment and application of triggers, and sharing of information among all sectors relevant to hazards.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        03
      .level-desc
        Developed capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Establish communication among public health, animal health and security/law enforcement points of contact who would need to collaborate in case of a suspected intentional event.
        %li
          Identify appropriate activities (such as notifications, assessments, investigation, laboratory testing) for response to biological threats or other incidents of concern (such as chemical, radiological), which will be covered by a written protocol or memorandum of understanding between sectors.
        %li
          Develop logistical plans to include multisectoral agencies, including if appropriate, law enforcement, in the public health EOC.
        %li
          Determine sample collection, transport, storage, security and testing requirements among relevant sectors (i.e. public health, security authorities, agriculture) for biological threats and other incidents of concern (such as chemical, radiological).
        %li
          Finalize a written protocol or memorandum of understanding that formalizes and institutionalizes interactions between relevant multisectoral agencies (public health, animal health and security authorities).
        %li
          Develop SOPs defining the process and communication mechanisms for assessing and responding to suspected international events.
        %li
          Develop training curriculum using country-specific content (such as regulations/authorities, agency roles/responsibilities and case studies).
  .indicator-capacity-row
    .col.head.bg-success
      .level-num
        04
      .level-desc
        Demonstrated capacity
    .col-9.body
      %strong
        Actions to achieve this level:
      %ul
        %li
          Conduct regular training in relevant sectors.
        %li
          Conduct at least one public health emergency response or exercise per year that includes appropriate information sharing between public health and security authorities using the formal protocol or memorandum of understanding.
        %li
          Document findings of the response or exercise, highlight the gaps and best practices, and adjust protocols as appropriate.
        %li
          Conduct joint training of public health, animal health and security authorities to orient, exercise and institutionalize knowledge of memorandum of understanding and other agreements related to all hazards.
  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        05
      .level-desc
        Sustainable capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Document conduction of regular joint training/exercise programmes at national, intermediate and local levels for public health, animal health and security authorities to orient, exercise and institutionalize the knowledge of memorandum of understanding and other agreements related to all hazards.
        %li
          Expand the joint risk assessment, exchange of information and reporting to all levels (national, intermediate and local levels).
        %li
          Conduct an evaluation to determine whether information about events of joint concern is shared in a timely and effective manner at national, intermediate and local levels as outlined in formal memoranda of understanding or other agreements/protocols, and that the response is appropriate and effective, and corrective action is taken based on this evaluation.
  %h3 Tools:
  %ul
    %li
      WHO–OIE operational framework for good governance at the human¬–animal interface:
      %a{href: "http://www.oie.int/fileadmin/Home/fr/Media_Center/docs/pdf/WHO_OIE_Operational_Framework_Final2.pdf", target: "_blank"}
        Bridging WHO and OIE tools for the assessment of national capacities.
      WHO and OIE; 2014.
    %li
      Terrestrial animal health code.
      %a{href: "http://www.oie.int/index.php?id=169&L=0&htmfile=chapitre_vet_legislation.htm", target: "_blank"}
        Chapter 3.4 Veterinary legislation.
      World Organisation for Animal Health; 2016.
    %li
      %a{href: "https://www.opcw.org/fileadmin/OPCW/CWC/CWC_en.pdf", target: "_blank"}
        Convention on the prohibition of the development, production, stockpiling and use of chemical weapons and on their destruction.
      The Hague: Organisation for the Prohibition of Chemical Weapons.
    %li
      Treaty on the non-proliferation of nuclear weapons. International Atomic Energy Agency [
      %a{href: "https://www.iaea.org/sites/default/files/publications/documents/infcircs/1970/infcirc140.pdf", target: "_blank"}
        information circular
      ] INFCIRC/140, 22 April 1970.
    %li
      %a{href: "https://www.fbi.gov/file-repository/joint-criminal-and-epidemiological-investigations-handbook-2016-international-edition/view", target: "_blank"}
        Joint Criminal and Epidemiological Investigations Handbook 2016.
      International Edition.
