<div class="form-group">
  <%= f.number_field field_name, 
    data: { action: "change->score#validate", 
            goal: field_name.match?("goal"),
            toggle: "tooltip",
            placement: "top",
          }, 
    class: "form-control w-70px color-score-#{@goals.send(field_name)}", 
    required: true %>
</div>

