/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

$colors: (
  "black": #2d2d35,
  "blue": #2c8dc9,
  "dark-blue": #20313b,
  "gray": rgba(45, 45, 53, 0.25),
  "green": #46b754,
  "orange": #d86422,
  "red": #e93939,
  "yellow": #ffca1e,
  "light-gray": #f2f2f2,
  "primary": #d86422,
  "secondary": rgba(45, 45, 53, 0.5),
  "success": #d6b754,
  "danger": #e93939,
  "warning": #ffca1e,
  "info": #2c8dc9,
  "light": #f8f9fa,
  "dark": #343a40
) !default;

$theme-colors: $colors;

@import "bootstrap/scss/bootstrap";
@import "./autocomplete";
@import "./multiselect";
@import "./devise";
@import "./scores";
@import "./plan";
@import "./country_select";
@import "./privacy";
@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400&subset=latin");
@import url("https://fonts.googleapis.com/css?family=Pathway+Gothic+One&subset=latin");
@import url("https://fonts.googleapis.com/css?family=Karla&subset=latin");

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Karla;
}

footer {
  margin-top: auto;
  color: white;
  font-family: Crimson Text;
  font-size: 22px;
  line-height: 28px;

  .heading {
    display: inline-block;
    padding-bottom: 1rem;
    border-bottom: solid 1px white;
  }

  .copyright {
    font-family: Karla;
    font-size: 14px;
    line-height: 16px;
  }

  a {
    color: color("white");
  }
}

p {
  font-size: 16px;
}

a {
  color: color("primary");
}

h1,
h2,
h3,
h4 {
  font-family: Crimson Text;
}

h1 {
  font-size: 40px;
  line-height: 1.3;
}

h2 {
  font-size: 40px;
  line-height: 38px;
}

h3 {
  font-size: 29px;
  line-height: 35px;
}

h4 {
  font-size: 22px;
  line-height: 28px;
}

thead {
  font-family: Karla;
  font-size: 24px;
  line-height: 54px;
}

th {
  font-family: Karla;
}

td {
  font-family: Karla;
  font-size: 17px;
  line-height: 24px;
}

.btn,
.form-control {
  border-radius: 10px;
}

.btn {
  &:not(.multiselect) {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    height: 60px;
  }
}

.navbar {
  min-height: 110px;
  padding: 27px 35px 27px 35px;

  .navbar-brand {
    font-family: Pathway Gothic One;
    font-size: 58px;
    line-height: 54px;
  }

  .navbar-nav {
    width: 738px;
    justify-content: flex-end;
    align-items: center;

    .nav-item {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.1em;
      margin-right: 50px;
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

.login-button {
  width: 244px;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.1em;
}

.modal-header {
  border-bottom: none;
}

.landing {
  .left-panel,
  .right-panel {
    padding-top: 20px;
  }

  .right-panel {
    max-width: 574px;
  }

  h1 {
    font-size: 54px;
    line-height: 64px;
  }

  h2 {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }
}

.display-header {
  font-family: Pathway Gothic One;
  text-transform: uppercase;
}

.alt-header {
  font-family: Pathway Gothic One;
  text-transform: uppercase;
  input {
    font-size: 40px;
  }
}

.w-70px {
  width: 70px;
}

.get-to-green {
  height: 81px;

  .gtg-text-field {
    font-family: Pathway Gothic One;
    font-size: 24px;
    line-height: 28px;
    padding-top: 26px;
    padding-bottom: 27px;
  }

  .gtg-button-field {
    padding-top: 22px;
    padding-bottom: 23px;

    .btn {
      font-family: Karla;
      width: 180px;
      height: 36px;
    }
  }
}

.goals-next-button {
  width: 180px;
}

.table-fixed {
  table-layout: fixed;
}

.stick-to-top {
  position: sticky;
  z-index: 1;
  top: 0;
}

.full-width {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.was-validated .form-control:valid,
.form-control.is-valid {
  background: white;
  padding-right: 0.75rem;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  background: rgba(233, 57, 57, 0.1);
  padding-right: 0.75rem;
}

.custom-select {
  border-radius: 10px;
  height: 60px;
}

input[type="number"] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  -moz-appearance: textfield;
  text-align: center;
}
