/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

$colors: (
  "blue": #2c8dc9,
  "dark-blue": #20313b,
  "green": #46b754,
  "orange": #d86422,
  "red": #e93939,
  "yellow": #ffca1e,
  "light-gray": #f2f2f2,
  "primary": #d86422,
  "secondary": rgba(45, 45, 53, 0.5),
  "success": #46b754,
  "danger": #e93939,
  "warning": #ffca1e,
  "info": #2c8dc9,
  "light": #f8f9fa,
  "dark": #2d2d35,
  "gray-dark-transparent": rgba(45, 45, 53, 0.8),
  "text-disabled": #ababab,
) !default;

$theme-colors: $colors;

@import "bootstrap/scss/bootstrap";
@import "./autocomplete";
@import "./multiselect";
@import "./devise";
@import "./scores";
@import "./plan";
@import "./assessments";
@import "./benchmark-document";
@import "./reference-library";
@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400&subset=latin");
@import url("https://fonts.googleapis.com/css?family=Pathway+Gothic+One&subset=latin");
@import url("https://fonts.googleapis.com/css?family=Karla&subset=latin");
@import url("https://fonts.googleapis.com/css?family=Karla:700&display=swap");
@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  /* styles specific to IE 10-11 go here */
  @import "./ie";
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Karla, sans-serif;
}

footer {
  margin-top: auto;
  color: white;
  font-family: Karla, sans-serif;
  font-size: 16px;
  line-height: 22px;

  .heading {
    display: inline-block;
    padding-bottom: 1rem;
    border-bottom: solid 1px white;
    font-size: 21px;
  }

  .copyright {
    font-family: Karla, sans-serif;
    font-size: 14px;
    line-height: 16px;
  }

  a {
    color: color("white");
  }

  .footer-logo {
    margin-right: 20px;
    margin-bottom: 30px;
  }
}

p {
  font-size: 16px;
}

a {
  color: color("primary");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212529;
}

h1,
h2 {
  font-family: Pathway Gothic One, sans-serif;
  font-weight: normal;
}
h3,
h4,
h5,
h6 {
  font-family: Karla, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 58px;
  line-height: 62px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
}

h2 {
  font-size: 48px;
  line-height: 55px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

h3 {
  font-size: 24px;
  line-height: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h4 {
  font-size: 21px;
  line-height: 26px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h5 {
  font-size: 18px;
  line-height: 21px;
}

h6 {
  font-size: 15px;
  line-height: 18px;
}

thead {
  font-family: Karla, sans-serif;
  font-size: 24px;
  line-height: 54px;
}

th {
  font-family: Karla, sans-serif;
}

td {
  font-family: Karla, sans-serif;
  font-size: 17px;
  line-height: 24px;
}

.btn,
.form-control {
  border-radius: 10px;
}

.btn {
  &:not(.multiselect) {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    height: 60px;
  }
}

nav.navbar {
  min-height: max-content; // this is needed to prevent smaller screen sizes heights from collapsing
  ul.navbar-nav {
    text-align: right;
  }
  li.nav-item {
    letter-spacing: 0.1em;
    white-space: nowrap;
    &:last-child a.nav-link {
      padding-right: 0; // this is for the last A tag on the right to align with the edge of the page container
    }
  }
  a.nav-link {
    color: white !important;
    text-decoration: none;
  }
}

.login-button {
  width: 244px;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.1em;
}

.home-page {
  .right-panel {
    max-width: 574px;
  }
  a.btn {
    width: 250px;
  }
}

a.cta-btn {
  height: 4.5em !important;
  line-height: 4.5em;
  padding: 0;
  margin: 0;
}

.display-header {
  font-family: Pathway Gothic One;
  text-transform: uppercase;
}

.alt-header {
  font-family: Karla, sans-serif;
  text-transform: uppercase;
  input {
    font-size: 22px;
    line-height: 22px;
    color: $dark;
  }
}

.w-70px {
  width: 70px;
}

.table-fixed {
  table-layout: fixed;
}

.stick-to-top {
  position: sticky;
  z-index: 1;
  top: 0;
}

.full-width {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.was-validated .form-control:valid,
.form-control.is-valid {
  background: white;
  padding-right: 0.75rem;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  background: rgba(233, 57, 57, 0.1);
  padding-right: 0.75rem;
}

input[type="number"] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  -moz-appearance: textfield;
  text-align: center;
}

svg.print,
svg.download {
  height: 16px;
  width: 16px;
  path {
    fill: #2d2d35;
  }
}

a:hover {
  svg {
    path {
      fill: color("primary");
    }
  }
}

svg.step-up-hero {
  path {
    fill-rule: nonzero;
    transition: all 0.2s ease-in-out;
  }

  .segment {
    fill: #e2e6ea;
  }

  .segment.highlight {
    fill: #fec938;
  }

  .image-link {
    transition: all 0.2s ease-in-out;
    transform-origin: 240px 240px;
    position: relative;
  }

  path.text {
    fill: #383b41;
  }

  a:hover {
    transform: scale(1.05);
  }

  a:hover path.segment {
    fill: #2b8cc9;
  }

  a:hover path.text {
    fill: white;
  }
}

.alert {
  margin-top: 1rem;
}
