/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

$colors: (
  "black": #2d2d35,
  "red": #e93939,
  "yellow": #ffca1e,
  "green": #4fb754,
  "dark-slate": #50506b,
  "medium-slate": #888799,
  "light-slate": #dae0e9,
  "light-gray": #f2f2f2,
) !default;

@import "bootstrap";

.text-dark-slate {
  color: color("dark-slate");
}

.fg-white {
  color: color("white");
}

.bg-black {
  background-color: color("black");
}

.bg-dark-slate {
  background-color: color("dark-slate");
}

.bg-green {
  background-color: color("green");
}

.navbar {
  height: 110px;
  padding: 27px 35px 27px 35px;

  .navbar-nav {
    width: 738px;
    justify-content: space-between;
    align-items: center;
  }
}

.login-button {
  width: 244px;
}
