ul.ui-autocomplete {
  list-style: none;
  margin-left: 0;
  border: solid 1px color("info");
  background: color("white");
  padding-left: 0;

  li {
    padding-bottom: 5px;
    .ui-state-active,
    &:not(.ui-autocomplete-category):hover {
      background: color("info");
      color: color("white");
    }

    .ui-menu-item-wrapper {
      padding-left: 12px;
    }

    &.ui-autocomplete-category {
      padding-left: 12px;
      font-style: italic;
      font-weight: bold;
      font-size: 17px;
      line-height: 24px;
      text-transform: uppercase;
    }
  }
}

// this ensures that this helper is still available on screen readers: https://a11yproject.com/posts/how-to-hide-content/
.ui-helper-hidden-accessible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
