ul.ui-autocomplete {
  list-style: none;
  margin-left: 0;
  border: solid 1px #7b9dd4;
  background: color("white");
  padding-left: 0;

  li {
    padding-bottom: 5px;
    .ui-state-active,
    &:not(.ui-autocomplete-category):hover {
      background: #2c8dc9;
      color: color("white");
    }

    .ui-menu-item-wrapper {
      padding-left: 12px;
    }

    &.ui-autocomplete-category {
      padding-left: 12px;
      font-family: Karla, sans-serif;
      font-style: italic;
      font-weight: bold;
      font-size: 17px;
      line-height: 24px;
      text-transform: uppercase;
    }
  }
}
