#capacity-selection-modal {
  font-size: 17px;

  .modal-title {
    font-size: 58px;
    line-height: 67px;
  }
  .modal-dialog {
    max-width: 708px;
  }

  a:hover {
    text-decoration: underline;
  }

  li {
    margin-bottom: 6px;
  }
}
