.devise {
  font-size: 17px;
  line-height: 20px;

  h1 {
    font-family: Pathway Gothic One;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 67px;
    text-transform: uppercase;
  }

  p {
    font-size: 17px;
  }

  a {
    color: color("black");
    text-decoration: underline;
  }
}
