.devise {
  width: 474px;
  
  p {
    font-size: 17px;
    margin-bottom: 0.2em;
  }

  a {
    color: color("dark");
    text-decoration: underline;
  }

  input {
    height: 60px;
  }

  .rounded-10 {
    border-radius: 10px;
  }
}
