//
// This is the fix for the footer floating over content at some apparently random
// point mid-page. Taken from: https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
//
.page-container {
  flex: 1 0 auto;
}
footer {
  flex: 1;
}

//
// This is to handle the bar chart segment labels, which are rotated -45ยบ for other browsers,
// to just display as rotated at 90ยบ via the writing direction CSS directive.
//
.card.plan .ct-label.ct-horizontal {
  -ms-writing-mode: tb-rl;
}
.ct-chart-bar {
  // needs more bottom margin to allow the angled labels to display w/o cut off
  margin : 0 0 60px 0 !important;
}


//
// This is to fix the problem of the navbar, for smaller screen sizes when the toggler is displayed,
// and when the toggler is used to expand the menu, that the .container height does not expand along
// with its content, resulting in the navbar's menu content being cut off at the top and bottom on IE.
//
nav.navbar {
  flex-shrink: 0;
  flex-basis: auto;
}

.col {
  flex: 1 1 auto;
}
