.benchmark-container {
  margin-bottom: 50px;
  .header {
    padding-top: 32px;
    padding-bottom: 32px;
    .delete {
      font-size: 15px;
      text-align: right;
    }
    .confirm-delete,
    .delete {
      display: none;
    }
    &:hover {
      .confirm-delete,
      .delete {
        display: inherit;
      }
    }
  }

  .row {
    border: 1px solid color("light-gray");
    margin: 0;
  }
  .activity {
    .delete {
      display: none;
    }

    &:hover {
      border: 1px solid color("primary");
      .delete {
        display: inherit;
      }
    }
  }
  .activity-form {
    padding: 0.5rem;
    padding-left: 0;
    border-left: 8px solid rgba(216, 100, 34, 0.5);
    input {
      border: none;
    }
  }
}

.capacity-container {
  h2 {
    left: 0px;
    top: 0px;
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;

    /* http://darktef.github.io/posts/2017-03-offset-html-anchors-for-fixed-header-with-css */
    &::before {
      content:"";
      display:block;
      margin-top:-155px;
      height:155px;
    }
  }
}

.plan-entry {
  a {
    color: color("black");
    &:hover {
      color: color("primary");
    }
  }
}

.tips-header {
  font-family: Pathway Gothic One;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 55px;
  margin-bottom: 40px;
}

.plan-index-header {
  margin-top: 50px;
  h1 {
    font-family: Pathway Gothic One;
    text-transform: uppercase;
    font-size: 58px;
  }
}
