@import "chartist/dist/scss/chartist";

.plan-entry {
  a {
    color: color("dark");
    &:hover {
      color: color("primary");
    }
  }
}

.tips-header {
  font-family: "Pathway Gothic One", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 55px;
  margin-bottom: 40px;
}

.info-pane-component {
  .row {
    margin-bottom: 1em;
  }
}

.action-count-component {
  .count {
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 3em;
    line-height: 1.2em;
  }
  .label {
    font-family: Karla, sans-serif;
    line-height: 1.2em;
  }
  p {
    margin: 0;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
    color: rgba(45, 45, 53, 0.5);
  }
}

.clear-filters-component {
  a {
    text-decoration: underline;
  }
}

.technical-area-container {
  h3 {
    font-family: Karla, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    margin-top: 0px;
  }
}

.benchmark-container .row,
.action.row {
  border: 1px solid color("light-gray");
}

.benchmark-container {
  margin-bottom: 50px;

  .header {
    padding-top: 32px;
    padding-bottom: 32px;

    .delete {
      font-size: 15px;
      text-align: right;
    }

    .confirm-delete,
    .delete {
      visibility: hidden;
    }

    &:hover {
      .confirm-delete,
      .delete {
        visibility: visible;
      }
    }
  }

  .action-form {
    padding: 0.5rem 0.5rem 0.5rem 0;
    border-left: 8px solid rgba(216, 100, 34, 0.5);
    input {
      border: none;
    }
  }
}

.action.row {
  .badge-rounded-circle {
    height: 2.25em;
    width: 2.25em;
  }

  .badge-rounded-circle span {
    position: relative;
    top: 0.4em;
    color: white;
  }

  .action-badge-pill {
    font-size: 14px;
    padding: 0.25em 1em;
    color: color("disease-pill");
  }

  @include media-breakpoint-up(lg) {
    .delete {
      display: none;
    }
  }

  &:hover {
    border: 1px solid color("primary");
    .delete {
      display: inherit;
    }
  }

  .color-value-0,
  .color-value-1 {
    background-color: color("danger");
  }
  .color-value-2,
  .color-value-3 {
    background-color: color("warning");
  }
  .color-value-4,
  .color-value-5 {
    background-color: color("success");
  }

  .badge-disease {
    height: 0.75em;
    width: 0.75em;
  }

  .color-value-disease-influenza {
    background-color: color("disease-influenza");
  }
}

.card.plan {
  ul.nav-tabs {
    background-color: rgba(0, 0, 0, 0.03);
  }

  .tab-pane {
    width: 100%;
    padding: 0 2em;
  }

  .chart-pane {
    width: 100%;
    flex-grow: 2;
  }

  .chart-container {
    width: 100%; // this is what effectively sets the chart width
    svg {
      margin-left: -10px; // this is to slide the chart to the left since the SVG has plenty of white space on the left side for some reason
    }
  }

  // ct-* are chartist style class we are overriding
  .ct-vertical {
    stroke: #c3c9d8;
    stroke-dasharray: 0;
    stroke-width: 0.7;
  }

  .ct-horizontal {
    stroke: none;
  }

  .ct-series .ct-bar {
    stroke-width: 24;

    &:hover {
      cursor: pointer;
    }
  }

  .ct-series-a .ct-bar {
    stroke: color("health-system");

    &.ct-deselected {
      stroke: color("health-system-deselected");
    }

    &:hover {
      stroke: color("health-system-hover");
    }
  }
  .ct-series-b .ct-bar {
    stroke: color("disease-influenza");

    &.ct-deselected {
      stroke: color("disease-influenza-deselected");
    }

    &:hover {
      stroke: color("disease-influenza-hover");
    }
  }

  .ct-label {
    font-size: 11px;
    color: #545b62;
  }

  // labels for chart by action type at 45ยบ angle per design
  .ct-label.ct-horizontal {
    position: fixed; // makes the labels and their position scale/zoom well
    justify-content: flex-end;
    text-align: right;
    transform-origin: right;
    transform: translate(-45%) rotate(-45deg);
    white-space: nowrap;
  }

  .ct-chart-bar {
    // needs more bottom margin to allow the angled labels to display w/o cut off
    margin: 0 0 50px 0;
    overflow: visible;
  }

  .ct-legend {
    list-style: none;

    li {
      position: relative;
      padding-top: 0.25em;
      padding-left: 1.8em;
    }

    li:before {
      width: 1.25em;
      height: 1.25em;
      margin-top: 0.15em;
      position: absolute;
      left: 0;
      content: "";
    }

    .ct-series-a:before {
      background-color: color("health-system");
    }

    .ct-series-b:before {
      background-color: color("disease-influenza");
      border-color: color("disease-influenza");
    }
  }
}

.nudge-container {
  .nudge-left {
    background-color: color("light-gray");
    border-right: 1px solid #eaeaeb;
    word-break: break-word;
  }
  .nudge-tip-text {
    color: color("text-de-emphasized");
    font-size: smaller;
    text-transform: uppercase;
  }
  ul {
    margin: 25px 0px;
    padding-left: 30px;
  }
  li {
    font-size: 14px;
    margin-bottom: 1em;
  }
  h4 {
    font-weight: normal;
  }
  .nudge-action-type-name {
    text-transform: capitalize;
  }
  .nudge-content-0 {
    .nudge-svg-box {
      height: 41px;
      width: 51px;
      position: relative;
    }
    svg.bar-chart {
      height: 41px;
      width: 51px;
      path {
        fill: #2c8dc9;
        transform: scale(2.5);
      }
    }
    svg.cursor {
      height: 20px;
      width: 20px;
      position: absolute;
      top: 22px;
      left: 26px;
    }
  }
}

.stick-to-top {
  input.plan-name {
    height: 38px;
  }
  input.plan-save {
    height: 38px;
    min-width: 140px;
  }
}

.plan-container {
  .tooltip.bs-tooltip-top .arrow:before {
    border-top-color: color("gray-dark-transparent");
  }
  .tooltip-inner {
    color: #f8f9fa;
    background-color: color("gray-dark-transparent");
    font-family: Karla, sans-serif;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.2px;
  }
}

#get_started {
  h1 {
    margin-bottom: 0.5em;
  }
  h4 {
    margin-bottom: 0.7em;
  }
  h4.disabled {
    color: color("text-de-emphasized");
  }
  .form-row {
    margin-top: 1em;
    margin-bottom: 2.5em;
  }
  .form-check {
    margin-top: 0.8em;
  }
  .was-validated {
    .form-check-label {
      color: black;
    }
    .card.required {
      border-color: color("red");
    }
  }
  input[type="submit"] {
    width: 8.5em;
    height: 2.3em;
  }
  .plan-by-technical-area-container {
    margin-top: 0.7em;
    margin-left: 1.3em;
    .card {
      margin-top: 6px;
      padding: 7px;
      .row {
        margin: 0.5em 0 0.5em 0;
      }
    }
  }
  //
  // Apply the RTSL UX palette to the Chosen UI control by Harvest.
  // Info on Chosen including its config options at: https://harvesthq.github.io/chosen/
  //
  // It was a little tough to style it, Chosen's styles are applied with high specificity
  // which makes them difficult to override, hence plenty of use of "!important".
  //
  //
  $our-chosen-height: 3em;
  .chosen-container {
    background-image: none;
    width: 500px !important;
  }
  .chosen-container,
  .chosen-container .chosen-single,
  .chosen-container .chosen-single span {
    font-size: 16px;
    height: $our-chosen-height !important;
    line-height: $our-chosen-height;
  }

  // this background-position stuff it to re-position the sprite image
  // used to display the down/up arrow on the right side of the chosen box.
  .chosen-container .chosen-single div b {
    background-position: 0.2em 1em !important;
  }
  .chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -0.9em 1em !important;
  }

  // this background-image stuff is to remove the background gradient
  // chosen has by default.
  .chosen-container .chosen-results li.active-result.highlighted {
    background-color: #2c8dc9;
    background-image: none;
    color: color("light");
  }
  .chosen-container-active.chosen-with-drop a.chosen-single,
  .chosen-container a.chosen-single {
    background-image: none;
  }

  // this section is to get the spacing right on the dropdown menu options
  .chosen-container ul.chosen-results {
    padding: 0;
    margin: 0;
  }
  .chosen-container .chosen-results li {
    font-size: 16px !important;
    padding: 0.65em 0.65em !important;
  }
}
