@import "chartist/dist/scss/chartist";

.plan-entry {
  a {
    color: color("dark");
    &:hover {
      color: color("primary");
    }
  }
}

.tips-header {
  font-family: Pathway Gothic One;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 55px;
  margin-bottom: 40px;
}

.plan-index-header {
  margin-top: 50px;
  h1 {
    font-family: Pathway Gothic One;
    text-transform: uppercase;
    font-size: 58px;
  }
}

.activity-count-header {
  font-family: "Pathway Gothic One", sans-serif;
  .activity-count-circle {
    width: 90px;
    height: 90px;
    background-color: color("primary");
    border-radius: 45px;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
    span {
      color: color("light");
      font-size: 36px;
      line-height: 41px;
    }
  }
  p {
    margin: 0;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
    color: rgba(45, 45, 53, 0.5);
  }
}

.technical-area-container {
  h3 {
    font-family: Karla, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    margin-top: 0px;
  }
}

.benchmark-container .row,
.activity.row {
  border: 1px solid color("light-gray");
}

.benchmark-container {
  margin-bottom: 50px;

  .header {
    padding-top: 32px;
    padding-bottom: 32px;

    .delete {
      font-size: 15px;
      text-align: right;
    }

    .confirm-delete,
    .delete {
      display: none;
    }

    &:hover {
      .confirm-delete,
      .delete {
        display: inherit;
      }
    }
  }

  .activity-form {
    padding: 0.5rem 0.5rem 0.5rem 0;
    border-left: 8px solid rgba(216, 100, 34, 0.5);
    input {
      border: none;
    }
  }
}

.activity.row {

  .badge-rounded-circle {
    height: 2.25em;
    width: 2.25em;
  }

  .badge-rounded-circle span {
    position: relative;
    top: 0.4em;
    color: white;
  }

  .delete {
    display: none;
  }

  &:hover {
    border: 1px solid color("primary");
    .delete {
      display: inherit;
    }
  }

  .color-value-0,
  .color-value-1 {
    background-color: color("danger");
  }
  .color-value-2,
  .color-value-3 {
    background-color: color("warning");
  }
  .color-value-4,
  .color-value-5 {
    background-color: color("success");
  }
}


.card.plan {
  overflow: hidden;

  ul.nav-tabs {
    background-color: rgba(0, 0, 0, 0.03);
  }

  .nudge-container {
    padding: 0;
    .card {
      width: 400px;
      min-height: 238px;
      margin: 20px auto;
      padding: 1em;
      background-color: #F8F9FA;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      ul {
        padding-left: 30px;
      }
    }
    p {
      margin: 10px 12px 20px 12px;
      font-weight: bold;
    }
    li {
      font-size: 14px;
    }
    svg.lightbulb {
      height: 18px;
      width: 12px;
      position: relative;
      top: -2px;
      left: -7px;
      path {
        height: 18px;
        width: 12px;
        fill: #FFCA1E;
      }
    }
    .nudge-content-0 {
      text-align: center;
      svg.bar-chart {
        height: 51px;
        width: 51px;
        margin-top: 35px;
        margin-bottom: 10px;
        path {
          fill: #2C8DC9;
          transform: scale(2.5);
        }
      }
      svg.cursor {
        height: 20px;
        width: 20px;
        position: absolute;
        top: 77px;
        left: 190px;
      }
    }
  }

  // ct-* are chartist style class we are overriding
  .ct-vertical {
    stroke: #C3C9D8;
    stroke-dasharray: 0;
    stroke-width: 0.7;
  }

  .ct-horizontal {
    stroke: none;
  }

  .ct-series .ct-bar {
    stroke: #0D4A59;
    stroke-width: 24;

    &:hover {
      stroke: #4D838F;
      cursor: pointer;
    }
  }

  .ct-label {
    font-size: 11px;
    color: #545B62;
  }

  #bar-chart-by-activity-type {
    // needs more bottom margin to allow the angled labels to display w/o cutoff
    .ct-chart-bar {
      overflow: visible;
      margin : 0 0 90px 0;
    }

    // labels for chart by activity type at 45º angle per design
    .ct-label.ct-horizontal {
      position: fixed; // makes the labels and their position scale/zoom well
      justify-content: flex-end;
      text-align: right;
      transform-origin: right;
      transform: translate(-45%) rotate(-45deg);
      white-space: nowrap;
    }
  }
}

.plan-container {
  .tooltip.bs-tooltip-top .arrow:before {
    border-top-color: color("gray-dark-transparent");
  }
  .tooltip-inner {
    color: #F8F9FA;
    background-color: color("gray-dark-transparent");
    font-family: Karla, sans-serif;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.2px;
  }
}

#get_started {
  h1 {
    margin-bottom: 0.5em;
  }
  h4 {
    margin-bottom: 0.7em;
  }
  h4.disabled {
    color: color("text-disabled");
  }
  .form-row {
    margin-top: 1em;
    margin-bottom: 2.5em;
  }
  .form-check {
    margin-top: 0.8em;
  }
  .was-validated {
    .form-check-label {
      color: black;
    }
    .card.required {
      border-color: color("red");
    }
  }
  input[type=submit] {
    width: 8.5em;
    height: 2.3em;
  }
  .plan-by-technical-area-container {
    margin-top: 0.7em;
    margin-left: 1.3em;
    .card {
      margin-top: 6px;
      padding: 7px;
      .row {
        margin: 0.5em 0 0.5em 0;
      }
      .form-check-inline {
        margin-right: 4px;
      }
    }
  }
  //
  // Apply the RTSL UX palette to the Chosen UI control by Harvest.
  // Info on Chosen including its config options at: https://harvesthq.github.io/chosen/
  //
  // It was a little tough to style it, Chosen's styles are applied with high specificity
  // which makes them difficult to override, hence plenty of use of "!important".
  //
  //
  $our-chosen-height: 3em;
  .chosen-container {
    background-image: none;
    width: 500px !important;
  }
  .chosen-container,
  .chosen-container .chosen-single,
  .chosen-container .chosen-single span {
    font-size: 16px;
    height: $our-chosen-height !important;
    line-height: $our-chosen-height;
  }

  // this background-position stuff it to re-position the sprite image
  // used to display the down/up arrow on the right side of the chosen box.
  .chosen-container .chosen-single div b {
    background-position: 0.2em 1em !important;
  }
  .chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -0.9em 1em !important;
  }

  // this background-image stuff is to remove the background gradient
  // chosen has by default.
  .chosen-container .chosen-results li.active-result.highlighted {
    background-color: #2C8DC9;
    background-image: none;
    color: color("light")
  }
  .chosen-container-active.chosen-with-drop a.chosen-single,
  .chosen-container a.chosen-single {
    background-image: none;
  }

  // this section is to get the spacing right on the dropdown menu options
  .chosen-container ul.chosen-results {
    padding: 0;
    margin: 0;
  }
  .chosen-container .chosen-results li {
    font-size: 16px !important;
    padding: 0.65em 0.65em !important;
  }

}
