.privacy-policy {
  h1 {
    font-size: 58px;
  }

  h2 {
    font-family: Karla;
    font-weight: bold;
    font-size: 24px;
  }

  h4 {
    font-family: Crimson Text;
    font-size: 24px;
    line-height: 33px;
  }
}
