.plan-set-goals {
  .w-220 {
    @media (min-width: 768px) {
      width: 220px;
    }
  }

  .w-180 {
    @media (min-width: 768px) {
      max-width: 180px;
    }
  }

  h3 {
    line-height: 54px;
    padding: 12px;
  }

  .technical-area {
    background-color: #e2e6ea;
    padding: 12px;
    border-top: 1px solid rgba(45, 45, 53, 0.25);
  }

  .indicators {
    font-size: 17px;
    padding: 12px;
    border-top: 1px solid rgba(45, 45, 53, 0.25);
    @media (min-width: 768px) {
      border-right: 1px solid rgba(45, 45, 53, 0.25);
    }
  }

  .score-goal {
    padding: 0;
    @media (min-width: 768px) {
      padding: 12px;
      border-top: 1px solid rgba(45, 45, 53, 0.25);
    }
    .label {
      line-height: 38px;
    }
  }

  .row .odd {
    background: color("light");
  }

  .form-control {
    background: white;
    &.color-score-0,
    &.color-score-1 {
      border-color: color("red");
    }
    &.color-score-2,
    &.color-score-3 {
      border-color: color("yellow");
    }
    &.color-score-4,
    &.color-score-5 {
      border-color: color("green");
    }
  }
}

.plan-set-goals {
  .tooltip-inner {
    background: color("red");
  }
  .arrow:before {
    border-top-color: color("red");
  }
}

.scores-widget {
  max-height: 156px;
  margin: auto;
}

.goals-next-button {
  width: 180px;
}
