.table-scores {
  tbody {
    tr {
      &:nth-child(odd) {
        background: color("light");
      }
      th {
        background: #e2e6ea;
        border-top: 1px solid rgba(45, 45, 53, 0.25);
      }
      td {
        border-top: 1px solid rgba(45, 45, 53, 0.25);
      }
    }
  }

  .form-control {
    background: white;
    &.color-score-0,
    &.color-score-1 {
      border-color: color("red");
    }
    &.color-score-2,
    &.color-score-3 {
      border-color: color("yellow");
    }
    &.color-score-4,
    &.color-score-5 {
      border-color: color("green");
    }
  }
}

.plan-set-goals {
  .tooltip-inner {
    background: color("red");
  }
  .arrow:before {
    border-top-color: color("red");
  }
}

.scores-widget {
  max-height: 156px;
  margin: auto;
}

.goals-next-button {
  width: 180px;
}
