#technical-area-selection-modal {
  font-size: 16px;

  #select-all-buttons {
    margin-bottom: 10px;
  }

  .modal-title {
    font-size: 40px;
    line-height: 49px;
  }
  .modal-dialog {
    max-width: 530px;
  }

  a:hover {
    text-decoration: underline;
  }
}
