<div class="row">
  <div class="col-1"></div>
  <div class="col-10 page">
    <div class="sheet">
      <h3><%= @plan.name %></h3>
      <% @plan.activities.each do |benchmark_id, capacities| %>
        <table class="table">
          <thead>
            <tr>
              <th><h3><%= benchmark_id %></h3></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% capacities.each do |capacity| %>
              <tr>
                <td><%= capacity %></td>
                <td>X</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
