<div class="row">

    <div class="col-1"></div>
    <div class="col-10 page">
        <div class="sheet">
            <table class="table">
                <thead>
                <tr class="jee-table-header">
                    <th scope="col"> Technical Areas </th>
                    <th scope="col"> Indicators </th>
                    <th scope="col"> Score </th>
                    <th scope="col"> Goal </th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <th class="border-right" scope="row" rowspan="2"> National Legislation </th>
                    <td> P.1.1 Legislation, laws </td>
                    <td> <input type="text"> </td>
                    <td> <input type="text"> </td>
                </tr>

                <tr>
                    <td> P.1.2 The State can... </td>
                    <td> <input type="text"> </td>
                    <td> <input type="text"> </td>
                </tr>

                <tr>
                    <th class="border-right" scope="row" rowspan="3"> IHR </th>
                    <td> P.2.1 Legislation, laws </td>
                    <td> <input type="text"> </td>
                    <td> <input type="text"> </td>
                </tr>

                <tr>
                    <td> P.2.2 Legislation, laws </td>
                    <td> <input type="text"> </td>
                    <td> <input type="text"> </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-1"></div>

</div>
