<div class="row border p-2">
  <div class="col-11">
    <%= activity %>
  </div>
  <div class="col-1">
    <button
      type="button"
      data-action="plan#deleteActivity"
      data-benchmark-id="<%= benchmark_id %>"
      data-activity="<%= activity %>"
    >
      <img src="/delete-button.svg" />
    </button>
  </div>
</div>
