<div class="row p-3 no-actions">
  <div class="col font-italic">
    There is no capacity gap for actions. You should review the Benchmarks document to ensure you have completed the tasks up to this level.
  </div>
</div>