.nudge-content-0
  %div
    .ico-bar-chart
      = render file: Rails.root.join("app", "assets", "images", "ico-bar-chart.svg")
    = render file: Rails.root.join("app", "assets", "images", "ico-cursor.svg")
  %h4
    Click on any bar in the chart to get tips on how to consolidate
    and prioritize your plan.
