<div class="row bg-dark-blue py-4 px-0 full-width stick-to-top text-white">

    <div class="col-10 row px-0 justify-content-between align-items-center offset-1">

      <div class="col-4 py-0" style="height: 60px;">
        <%= form_for @plan, class: "needs-validation", novalidate: true, data: { target: "plan.form" } do |f| %>
          <%= f.hidden_field :activity_map, value: @plan.activity_map.to_json, data: {
              target: "plan.activityMap"}, autocomplete: "off" %>
          <div class="form-group alt-header" style="min-width: 200px;">
            <%= f.text_field :name, data: { target: "plan.name", action: "change->plan#validateName" }, class: "form-control", required: true %>
            <div class="invalid-feedback">
              Cannot be empty
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-2" style="min-width: 140px;">
        <%= submit_tag "Save Plan", data: { target: "plan.submit", action: "plan#submit"}, class: "btn btn-orange w-100 align-self-center" %>
      </div>

    </div>

</div>
