<div class="row bg-dark-blue py-4 px-0 full-width stick-to-top text-white">

    <div class="col-10 offset-1 row justify-content-between">

      <div style="height: 60px;">
          <div class="form-group alt-header" style="min-width: 200px;">
            <%= form.text_field :name, data: { target: "plan.name", action: "change->plan#validateName" }, class: "form-control", required: true %>
            <div class="invalid-feedback">
              Cannot be empty
            </div>
          </div>
      </div>

      <div style="min-width: 140px;">
        <%= submit_tag "Save Plan", data: { target: "plan.submit", action: "plan#submit"}, class: "btn btn-orange w-100 align-self-center" %>
      </div>

    </div>

</div>
