<div class="row">
  <div class="col plan-container" data-controller="plan">
    <%= render "plan_form" %>
    <div class="row m-4">
      <div class="col">
        <% @plan.activity_map.each do |benchmark_id, activities| %>
        <!-- -->
          <%= render 'benchmark_activities', benchmark_id: benchmark_id,
            activities: activities, benchmarks: @benchmarks %>
        <!-- -->
        <% end %>
      </div>
    </div>
  </div>
</div>
