.benchmark-document
  .row
    .col
      .row
        .col
          = yield
    .col-lg-4.col-md-12.sidebar-right
      .print-link.d-flex.justify-content-end
        %a{href: "javascript: print()"}
          = render file: Rails.root.join("app", "assets", "images", "ico-print.svg")
          Print Page
      = render partial: "benchmark_document_navigation"
