.benchmark-document
  .row
    .col
      .row
        .col
          = yield
    .col-lg-4.col-md-12.sidebar-right.mt-5
      .print-link.d-flex.justify-content-end
        %a{href: "javascript: print()"}
          = inline_svg_tag "ico-print.svg"
          Print Page
      = render partial: "benchmark_document_navigation"
