<nav class="navbar navbar-expand-lg text-white bg-blue justify-content-between">
  <%= link_to image_tag("who-logo.svg"), "https://www.who.int", target: "_blank" %>
 <div>
  <ul class="navbar-nav">
    <li class="nav-item">WHO BENCHMARKS</li>
    <li class="nav-item">REFERENCE LIBRARY</li>
    <li class="nav-item">LOG IN</li>
  </ul>
 </div>
</nav>
