<footer class="pt-4">
  <div class="bg-dark-blue pt-4">
    <div class="row">
      <div class="col text-center">
        <%= content_tag :p, "© #{Date.today.year}. World Health Organization. All rights reserved.", class: "py-2 copyright" %>
      </div>
    </div>
  </div>
</footer>
