<footer class="bg-navy py-4">
  <div class="container mx-auto py-4">
    <span>
      <%= link_to "Privacy Policy", privacy_policy_path, target: "_blank" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= mail_to Rails.application.config.contact_email, "Contact" %>
    </span>
    <% if Rails.application.config.copyright %>
      <span>
        <%= content_tag :p, Rails.application.config.copyright.call, class: "py-2 mb-0 copyright text-center" %>
      </span>
    <% end %>
  </div>
</footer>
