<footer class="bg-navy pt-4">
  <div class="container mx-auto py-4">
    <span>
      <%= link_to "Privacy Policy", privacy_policy_path, target: "_blank" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= mail_to Rails.application.config.contact_email, "Contact" %>
    </span>
    <span>
      <%= content_tag :p, "© #{Date.today.year}. World Health Organization. All rights reserved.", class: "py-2 copyright text-center" %>
    </span>
  </div>
</footer>
