<footer>
  <div class="bg-dark-blue pt-4">
    <div class="row pt-5">
      <div class="col text-center">
        <%= content_tag :p, "(c) #{Date.today.year}. World Health Organization. All rights reserved.", class: "py-3 copyright" %>
      </div>
    </div>
  </div>
</footer>
